<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>

    <ConfirmDialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      @onCancel="confirmDialog.onCancel()"
      @onOk="confirmDialog.onOk"
    >
    </ConfirmDialog>

    <DataLoading
      v-if="loading"
    >
    </DataLoading>

    <v-card
      class="ma-0 pa-0"
    >
      <v-app-bar
        class="yellow darken-1"
        fixed
        extension-height="240px"
      >
        <v-toolbar-title class="text-h5">客製包裝站（AirPods）</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="refreshPrintItems()"
          >
            <v-icon>
              mdi-refresh
            </v-icon>
            更新
          </v-btn>
        </v-toolbar-items>
        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="gotoHomePage"
          >
            <v-icon>
              mdi-keyboard-backspace
            </v-icon>
            回首頁
          </v-btn>
        </v-toolbar-items>

        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="gotoHomePage"
          >
            <v-icon>
              mdi-keyboard-backspace
            </v-icon>
            回首頁
          </v-btn>
        </v-toolbar-items>

        <template v-slot:extension>
          <v-row
            dense
          >
            <v-col
              :cols="4"
            >
              <v-tabs
                v-model="currentDesignSortGroupId"
                slider-color="black"
                slider-size="5"
                background-color="yellow darken-1"
              >
                <v-tab
                  v-for="designSortGroup in designSortGroups"
                  :key="designSortGroup.id"
                  :href="`#${designSortGroup.id}`"
                  x-large
                  class="text-h5"
                  @click="setCurrentDesignSortGroupId(designSortGroup.id)"
                >
                  {{ designSortGroup.name }}
                </v-tab>
              </v-tabs>
            </v-col>
            <v-col
              :cols="2"
            >
              <v-select
                v-model="currentDate"
                :items="dateList"
                label="日期"
                class="pb-0 mb-0"
                dense
                clearable
                outlined
              >
                <template v-slot:item="{ item }">
                  <v-container
                    class="text-h5"
                  >
                    {{ item }}
                  </v-container>
                </template>
              </v-select>
            </v-col>
            <v-col
              :cols="2"
            >
              <v-select
                v-model="currentTag"
                :items="tagList"
                label="TAG"
                class="pb-0 mb-0"
                dense
                clearable
                outlined
              >
                <template v-slot:item="{ item }">
                  <v-container
                    class="text-h5"
                  >
                    {{ item }}
                  </v-container>
                </template>
              </v-select>
            </v-col>
            <v-col
              :cols="2"
            >
              <v-select
                v-model="currentDevice"
                :items="deviceList"
                label="型號"
                class="pb-0 mb-0"
                dense
                item-text="name"
                item-value="code"
                clearable
                outlined
              >
                <template v-slot:item="{ item }">
                  <v-container
                    class="text-h5"
                  >
                    {{ item.name }}
                  </v-container>
                </template>
              </v-select>
            </v-col>
            <v-col
              :cols="2"
            >
              <v-select
                v-model="currentColor"
                :items="colorList"
                label="顏色"
                class="pb-0 mb-0"
                dense
                item-text="code"
                clearable
                outlined
              >
                <template v-slot:item="{ item }">
                  <v-container
                    :style="`background-color: ${item.colorHex}`"
                  >
                    <v-chip
                      text-color="black"
                      color="white"
                      class="text-h5"
                    >
                      {{ item.code }}
                    </v-chip>
                  </v-container>
                </template>
              </v-select>
            </v-col>

            <v-col
              :cols="10"
              style="height: 150px;"
            >
              <v-tabs-items
                v-model="currentDesignSortGroupId"
                touchless
              >
                <v-tab-item
                  v-for="designSortGroup in designSortGroups"
                  :key="designSortGroup.id"
                  :value="designSortGroup.id"
                >
                  <v-container
                    class="flex flex-row flex-nowrap pa-0 ma-0"
                    style="overflow-x: auto; max-width: 98vw; height: 130px;"
                  >
                    <v-col
                      v-for="design in designSortGroup.list.filter(design => design.id === -1 || runtimeDesignSorts.find(s => s.type === designSortGroup.id && design.sorts.find(sort => sort === s.name)))"
                      :key="design.name"
                    >
                      <v-btn
                        x-large
                        :class="{'white--text': currentDesignName === design.name && currentDesignSortGroupId === designSortGroup.id}"
                        :color="currentDesignName === design.name && currentDesignSortGroupId === designSortGroup.id ? 'red' : 'yellow'"
                        @click="setCurrentDesignName(design.name)"
                        height="100px"
                      >
                        <v-img v-if="design.iconPath" :src="`${fileServer}${design.iconPath}`" max-width="100px"></v-img>
                        {{ design.name }}
                      </v-btn>
                    </v-col>
                  </v-container>
                </v-tab-item>
              </v-tabs-items>
            </v-col>

            <v-col
              :cols="2"
            >
              <v-combobox
                v-model="currentSearchDesignCode"
                item-text="name"
                item-value="name"
                label="搜尋 Design Code"
                outlined
                dense
                clearable
                height="120px"
                class="text-h5"
              ></v-combobox>
            </v-col>
          </v-row>
        </template>
      </v-app-bar>
    </v-card>

    <v-container
      class="pa-0 mx-0"
      style="max-width: 100%; margin-top: 300px;"
    >
      <v-card
        outlined
        class="pa-0 mx-0 my-2"
        color="teal darken-2"
        dense
        v-for="(packGroup, groupIndex) of currentPackGroups"
        :key="groupIndex"
      >
        <v-row dense>
          <v-col
            :cols="2"
          >
            <v-container
              class="py-1 px-0 ma-1"
            >
              <v-card>
                <v-card-title
                  class="blue lighten-1 black--text text-h5"
                  style="font-weight: 400"
                >
                  包裝方式：{{ packGroup.pack }}
                </v-card-title>

                <v-card-text
                  v-if="packGroup.orderTag !== 'B2C'"
                  class="text-h3 red darken-4 white--text ma-auto pb-2 pt-2 justify-center"
                  style="font-weight: 700;"
                >
                  {{ packGroup.orderTag }}
                </v-card-text>

                <v-card-text
                  class="text-h5 mt-0 pt-0"
                >
                  <template
                    v-if="packGroup.pack === '一般彩盒'"
                  >
                    <template
                      v-if="currentDesignSortGroupId !== 'design-airpods'"
                    >
                      吸塑：{{ packGroup.shape }}
                      <br>
                      膠膜：{{ packGroup.film }}
                    </template>
                  </template>
                  <template
                    v-else-if="packGroup.pack === '特殊彩盒'"
                  >
                    <template
                      v-if="currentDesignSortGroupId !== 'design-airpods'"
                    >
                      吸塑：{{ packGroup.shape }}
                      <br>
                      膠膜：{{ packGroup.film }}
                    </template>
                  </template>
                  <template
                    v-else
                  >
                    <template
                      v-if="currentDesignSortGroupId !== 'design-airpods'"
                    >
                      吸塑：{{ packGroup.shape }}
                      <br>
                      膠膜：{{ packGroup.film }}
                    </template>
                  </template>

                  <v-card
                    outlined
                    v-for="(packImage, packImageIndex) of packGroup.packImages"
                    :key="packImageIndex"
                  >
                    <v-img
                      :src="`${fileServer}${packImage}`"
                      class="white--text ma-auto"
                      style="max-width: 200px;"
                    >
                    </v-img>
                  </v-card>
                </v-card-text>
              </v-card>

              <v-card
                v-if="packGroup.stickers.length === 0"
                class="my-3"
              >
                <v-card-title
                  class="orange lighten-1 black--text text-h6"
                  style="font-weight: 400"
                >
                  雷標/貼紙：無
                </v-card-title>
              </v-card>
            </v-container>
          </v-col>

          <v-col
            v-if="packGroup.stickers.length > 0"
            :cols="2"
          >
            <v-container
              class="py-1 px-0 ma-1"
            >
              <v-card>
                <v-card-title
                  class="orange lighten-1 black--text text-h5"
                  style="font-weight: 400"
                >
                  雷標/貼紙：{{ packGroup.laserType }}
                </v-card-title>

                <v-card-text
                  class="text-h5"
                  v-if="packGroup.stickers.length"
                >
                  <v-container
                    v-for="(sticker, stickerIndex) of packGroup.stickers"
                    :key="stickerIndex"
                  >
                    <span
                      v-if="sticker.positionName"
                    >
                      {{ sticker.positionName }}
                    </span>

                    <v-img
                      :src="`${fileServer}${sticker.stickerImagePath}`"
                      class="white--text ma-auto"
                      style="max-width: 200px;"
                    >
                    </v-img>
                    <v-img
                      :src="`${fileServer}${sticker.positionImagePath}`"
                      class="white--text ma-auto"
                      style="max-width: 200px;"
                    >
                    </v-img>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-container>
          </v-col>

          <v-col
            :cols="packGroup.stickers.length > 0 ? 8 : 10"
          >
            <v-container
              class="py-1 px-0 ma-1"
            >
              <v-row
                dense
              >
                <v-col
                  v-for="printItem of packGroup.printItems.filter(pi => !pi.packedAt)"
                  :key="printItem.id"
                  :cols="2"
                >
                  <v-card
                    :style="handleColor(printItem)"
                  >
                    <v-card-title
                      :class="['white--text px-2 py-1', {'grey light-2': printItem.packedAt, 'green darken-2': !printItem.packedAt}]"
                      style="font-size: 18px;"
                    >
                      <span>{{ printItem.sku }}</span><br>
                      <span>{{ printItem.device.name }}</span>
                    </v-card-title>

                    <v-card-text
                      v-if="printItem.isPaused"
                      class="text-h6 white--text red darken-2"
                    >
                      已被暫停
                    </v-card-text>

                    <v-card-text
                      v-if="printItem.isCancelled"
                      class="text-h6 white--text red darken-2"
                    >
                      已被取消
                    </v-card-text>

                    <v-card-text
                      v-if="printItem.pastNg && ['skin', 'pack'].includes(printItem.ngType)"
                      class="text-h6 white--text red darken-2"
                    >
                      NG(貼皮/包裝)
                    </v-card-text>

                    <v-card-text
                      v-if="printItem.pastNg && ['print'].includes(printItem.ngType)"
                      class="text-h6 white--text pink lighten-1"
                    >
                      NG(印刷)
                    </v-card-text>

                    <v-card-text
                      v-if="printItem.orderTag === '平台'"
                      class="text-h6 white--text purple darken-2"
                    >
                      平台
                    </v-card-text>

                    <div class="d-flex justify-center" style="width:auto;height:320px;position:relative">
                      <img
                        v-if="printItem.casePath !== ''"
                        :src="`${fileServer}${casePath}${printItem.casePath}`"
                        alt="casePath"
                        :style="{ maxWidth: /AirPodsCase/.test(printItem.casePath)? '250px' : '320px', position: 'absolute' }"
                      >
                      <img
                        :src="`${fileServer}${previewPath}${printItem.imagePath}`"
                        alt="previewFilePath"
                        :style="{ maxWidth: /AirPodsCase/.test(printItem.imagePath)? '250px' : '320px', position: 'absolute' }"
                      >
                    </div>
                    <v-card-text
                      v-if="printItem.note"
                    >
                      {{ printItem.note }}
                    </v-card-text>

                    <v-card-actions
                      class="px-0 py-2"
                    >
                      <v-btn
                        outlined
                        x-large
                        :disabled="!!printItem.packedAt"
                        @click="printLabel(printItem, packGroup)"
                      >
                        <v-icon
                          color="green"
                        >
                          mdi-check-outline
                        </v-icon>
                        印標籤
                      </v-btn>

                      <v-spacer></v-spacer>

                      <!-- <v-btn
                        outlined
                        x-large
                        :disabled="lockNGBtn || printItem.isNg"
                        @click="confirmNG(printItem)"
                      >
                        <v-icon
                          color="red"
                        >
                          mdi-refresh
                        </v-icon>
                        NG重印
                      </v-btn> -->
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import fs from 'fs'
import path from 'path'
import { ipcRenderer } from 'electron'

import Vue from 'vue'
import { searchDesignSorts, searchDevices, searchColors, getAllPackingPrintItems, printLabel, setDonePack, reportPrintItemNg } from '../apis/solidsuit'
import { DesignSortGroup, DesignSortPackGroup, DesignSortPrintItem } from '@/types/solidsuit'
import { ColorCategory, DeviceCategory, RuntimeDesignSort, DesignSort } from '@/types/index'
import { fileServer, previewPath, casePath } from '@/config/index'

import AlertDialog from '@/components/alertDialog.vue'
import ConfirmDialog from '@/components/confirmDialog.vue'
import DataLoading from '@/components/DataLoading.vue'

export default Vue.extend({
  name: 'AirPods',

  components: {
    AlertDialog,
    ConfirmDialog,
    DataLoading
  },

  data: () => ({
    // TODO
    // hard code
    labelDir: 'C:/customized-package/label',

    loading: false,
    lockNGBtn: false,

    fileServer: fileServer as string,
    previewPath: previewPath as string,
    casePath: casePath as string,

    currentDesignSortGroupId: 'design-airpods' as string,
    currentDesignName: '不分類' as string,
    currentDesignSorts: [] as Array<string>,
    currentDate: '' as string,
    currentTag: '' as string,
    currentDevice: '' as string,
    currentColor: '' as string,
    currentSearchDesignCode: '' as string,

    tagList: [] as Array<string>,
    deviceList: [] as Array<DeviceCategory>,
    colorList: [] as Array<ColorCategory>,

    packingPrintItems: [] as Array<DesignSortPrintItem>,

    designSortGroups: [] as Array<DesignSortGroup>,
    packGroups: [] as Array<DesignSortPackGroup>,

    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    },

    confirmDialog: {
      show: false,
      message: '',
      onCancel () {
        this.show = false
        this.message = ''
      },
      onOk () {
        this.onCancel()
      }
    }
  }),

  async mounted () {
    await this.initialTagList()
    await this.initialDeviceList()
    await this.initialColorList()
    await this.initialDesignSorts()

    this.refreshPrintItems()
  },

  computed: {
    dateList (): Array<string> {
      return this.packingPrintItems.map((printItem: DesignSortPrintItem) => printItem.createDate)
    },

    currentPackGroups (): Array<DesignSortPackGroup> {
      return this.packGroups.filter((packGroup: DesignSortPackGroup) => {
        return (
          packGroup.designSortType === this.currentDesignSortGroupId &&
          (this.currentDesignName === '不分類' || (this.currentDesignName === '非聯名' && this.currentDesignSorts.indexOf(packGroup.designSortName) !== -1) || (packGroup.designSortName === this.currentDesignName)) &&
          packGroup.printItems.filter((printItem: DesignSortPrintItem) => !printItem.packedAt).length
        )
      })
    },

    runtimeDesignSorts (): Array<RuntimeDesignSort> {
      return this.packingPrintItems.reduce((prev, current) => {
        const existDesignSort = prev.find(p => p.type === current.designSort.type && p.name === current.designSort.name)
        if (existDesignSort) {
          existDesignSort.count++
        } else {
          prev.push({ type: current.designSort.type, name: current.designSort.name, count: 1 })
        }
        return prev
      }, [] as Array<RuntimeDesignSort>)
    },

    filteredPackingPrintItems (): Array<DesignSortPrintItem> {
      return this.packingPrintItems.filter((printItem: DesignSortPrintItem) => {
        return (
          (!this.currentDate || printItem.createDate === this.currentDate) &&
          (!this.currentTag || printItem.orderTag === this.currentTag) &&
          (!this.currentColor || printItem.color.code === this.currentColor) &&
          (!this.currentDevice || printItem.device.code === this.currentDevice) &&
          (!this.currentSearchDesignCode || printItem.sku.includes(this.currentSearchDesignCode))
        )
      })
    },

    handleColor () {
      return (printItem: DesignSortPrintItem) => {
        return {
          backgroundColor: '#dbe2ef',
          borderColor: printItem.color.colorHex,
          borderWidth: '5px'
        }
      }
    },

    processImageStyle () {
      return (imagePath: string) => {
        return {
          maxWidth: '200px',
          height: '450px'
        }
      }
    }
  },

  watch: {
    currentDate () {
      this.groupByPack(this.filteredPackingPrintItems)
    },

    currentTag () {
      this.groupByPack(this.filteredPackingPrintItems)
    },

    currentColor () {
      this.groupByPack(this.filteredPackingPrintItems)
    },

    currentDevice () {
      this.groupByPack(this.filteredPackingPrintItems)
    },

    currentSearchDesignCode () {
      this.currentDesignName = '不分類'
      this.groupByPack(this.filteredPackingPrintItems)
    }
  },

  methods: {
    gotoHomePage () {
      this.$router.push('/')
    },
    setCurrentDesignSortGroupId (designSortGroupId: string) {
      this.currentDesignSortGroupId = designSortGroupId

      this.setCurrentDesignName('不分類')
    },

    setCurrentDesignName (designName: string) {
      this.currentDesignName = designName

      this.currentDesignSorts.splice(0, this.currentDesignSorts.length)
      const designSortGroup = this.designSortGroups.find(designSortGroup => designSortGroup.id === this.currentDesignSortGroupId)
      if (designSortGroup) {
        const designSort = designSortGroup.list.find(designSort => designSort.name === this.currentDesignName)
        if (designSort) {
          this.currentDesignSorts.push(...designSort.sorts)
        }
      }
    },

    async initialTagList () {
      this.tagList.splice(0, this.tagList.length)

      this.loading = true
      // TODO
      // const res = await searchTages()
      const res = { ok: true, data: ['急單', '只印不出', '國內B2B', '國外B2B', '拍照樣品', '平台換貨/補寄', '平台', 'B2B換貨', '實體店面'], message: '' }
      this.loading = false
      // console.log(res)
      if (res.ok) {
        this.tagList.push(...res.data)
      } else {
        this.alertDialog.message = res.message || ''
        this.alertDialog.show = true
      }
    },

    async initialDeviceList () {
      this.loading = true

      this.deviceList.splice(0, this.deviceList.length)

      const res = await searchDevices()
      this.loading = false
      // console.log(res)
      if (res.ok) {
        this.deviceList = res.data.map((device: DeviceCategory) => {
          device.code = device.deviceCode
          device.name = `${device.brandCode}-${device.deviceCode} (${device.brandName} ${device.deviceName})`
          return device
        })
      } else {
        this.alertDialog.message = res.message || ''
        this.alertDialog.show = true
      }
    },

    async initialColorList () {
      this.loading = true

      this.colorList.splice(0, this.colorList.length)

      const res = await searchColors()
      this.loading = false

      if (res.ok) {
        this.colorList.push(...res.data)
      } else {
        this.alertDialog.message = res.message || ''
        this.alertDialog.show = true
      }
    },

    async initialDesignSorts () {
      this.loading = true
      const res = await searchDesignSorts()
      this.loading = false
      // console.log(res)
      if (res.ok) {
        // res.data['design-phone'].splice(0, 0, { id: -1, type: 'design-phone', name: '不分類', sorts: [], iconPath: '' })
        // res.data['person-phone'].splice(0, 0, { id: -1, type: 'person-phone', name: '不分類', sorts: [], iconPath: '' })
        res.data['design-airpods'].splice(0, 0, { id: -1, type: 'design-airpods', name: '不分類', sorts: [], iconPath: '' })

        this.designSortGroups.push({
          id: 'design-airpods',
          name: '客製化-AirPods',
          list: res.data['design-airpods']
        })
      } else {
        this.alertDialog.message = res.message || ''
        this.alertDialog.show = true
      }
    },

    async refreshPrintItems () {
      this.loading = true

      this.packingPrintItems.splice(0, this.packingPrintItems.length)
      this.packGroups.splice(0, this.packGroups.length)

      const res = await getAllPackingPrintItems('AirPodsCase', 'done_pqc')
      this.loading = false

      if (res.ok) {
        this.packingPrintItems = res.data

        // TODO
        this.packingPrintItems = this.packingPrintItems.sort((a, b) => {
          if (a.pastNg > b.pastNg) {
            return 1
          } else if (a.pastNg < b.pastNg) {
            return -1
          }
          return a.createDate.localeCompare(b.createDate)
        })

        this.designSortGroups.forEach((designSortGroup: DesignSortGroup) => {
          designSortGroup.list = designSortGroup.list.sort((a: DesignSort, b: DesignSort): number => {
            if (a.name === '不分類' || a.name === '非聯名') {
              return -1
            } else if (b.name === '不分類' || b.name === '非聯名') {
              return 1
            } else if (a.name === '不分類' && b.name === '非聯名') {
              return -1
            }

            return (
              ((this.runtimeDesignSorts.find(s => s.name === b.name) || { count: 0 }).count) -
              ((this.runtimeDesignSorts.find(s => s.name === a.name) || { count: 0 }).count)
            )
          })
        })

        this.groupByPack(this.filteredPackingPrintItems)
      } else {
        this.alertDialog.message = res.message || ''
        this.alertDialog.show = true
      }
    },

    groupByPack (printItems: Array<DesignSortPrintItem>) {
      this.packGroups.splice(0, this.packGroups.length)
      printItems.forEach(printItem => {
        const g = this.packGroups.find(g => {
          return (
            g.designSortType === printItem.designSort.type &&
            g.designSortName === printItem.designSort.name &&
            g.orderTag === printItem.orderTag &&
            g.pack === printItem.caseType.pack &&
            g.caseTypeCode === printItem.caseType.code &&
            g.film === printItem.device.film &&
            g.shape === printItem.device.shape &&
            g.laserType === printItem.laserType
          )
        })

        // if (printItem.imagePath) {
        //   console.log(printItem.imagePath)
        // }

        if (g) {
          g.printItems.push(printItem)
        } else {
          this.packGroups.push({
            designSortType: printItem.designSort.type,
            designSortName: printItem.designSort.name,
            orderTag: printItem.orderTag,
            caseTypeCode: printItem.caseType.code,
            pack: printItem.caseType.pack,
            film: printItem.device.film,
            shape: printItem.device.shape,
            laserType: printItem.laserType,
            stickers: printItem.stickers,
            packImages: printItem.packImages,
            printItems: [printItem]
          })
        }
      })

      this.packGroups.forEach(packGroup => {
        packGroup.printItems = packGroup.printItems.sort((a, b) => a.sku.localeCompare(b.sku))
      })

      // console.log('printItems:', printItems.length)

      // console.log(this.packGroups)
    },

    // async printLabel (printItem: DesignSortPrintItem, packGroup: DesignSortPackGroup) {
    //   console.log(packGroup)
    //   const res = await printLabel(printItem.shipmentItemId)
    //   if (res.ok) {
    //     // console.log(res.data)
    //     // TODO
    //     // if (printItem.id === res.data.printItemId) {
    //     // printItem.packedAt = res.data.packedAt
    //     // printItem.packedAt = '123'
    //     // }
    //   } else {
    //     this.alertDialog.message = res.message || ''
    //     this.alertDialog.show = true
    //   }
    // },

    async printLabel (printItem: DesignSortPrintItem, packGroup: DesignSortPackGroup) {
      this.confirmDialog.message = '確定要印標籤？'
      this.confirmDialog.onOk = async () => {
        try {
          this.confirmDialog.onCancel()
          await this.donePack(printItem, packGroup)
          const filePath = path.join(this.labelDir, String(printItem.shipmentItemId))
          // console.log(filePath)

          const res = await printLabel(printItem.shipmentItemId, 'datamatrix')
          // fs.createWriteStream(path).write(Buffer.from(res.data))
          fs.writeFileSync(filePath, Buffer.from(res.data))

          ipcRenderer.send('print-pdf', filePath)

          // TODO
          // maybe bug
        } catch (err) {
          console.log(err)
          this.alertDialog.message = `下載面單檔案失敗:${printItem.shipmentItemId}`
          this.alertDialog.show = true
        }
      }
      this.confirmDialog.show = true
    },

    async donePack (printItem: DesignSortPrintItem, packGroup: DesignSortPackGroup) {
      const res = await setDonePack(printItem.id)
      if (res.ok) {
        // console.log(res.data)
        if (printItem.id === res.data.id) {
          printItem.packedAt = res.data.packedAt
        }

        // console.log(packGroup)
        // console.log(res.data)
        const pg = this.packGroups.find(pg => {
          if (pg.designSortType === packGroup.designSortType && pg.designSortName === packGroup.designSortName) {
            return pg.printItems.find(pi => pi.id === res.data.id)
          }
          return false
        })
        // console.log(pg)
        if (pg) {
          const pi = pg.printItems.find(pi => pi.id === res.data.id)
          // console.log(pi)
          if (pi) {
            pi.packedAt = res.data.packedAt
          }
        }
      } else {
        this.alertDialog.message = res.message || ''
        this.alertDialog.show = true
      }
    },

    confirmNG (printItem: DesignSortPrintItem) {
      // console.log(printItem)

      // this.lockNGBtn = true

      this.confirmDialog.message = '確定要 NG 重印？'
      this.confirmDialog.onOk = async () => {
        const res = await reportPrintItemNg(printItem.id, 'pack')
        // console.log(res)

        if (res.ok) {
          printItem.isNg = true

          this.confirmDialog.onCancel()
        } else {
          this.alertDialog.message = res.message || ''
          this.alertDialog.show = true
        }

        // this.lockNGBtn = false
      }

      this.confirmDialog.show = true
    }
  }
})
</script>
