<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>

    <ConfirmDialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      @onCancel="confirmDialog.onCancel()"
      @onOk="confirmDialog.onOk"
    >
    </ConfirmDialog>

    <v-card
      class="ma-0 pa-0"
    >
      <v-app-bar
        class="yellow darken-1"
        fixed
        extension-height="140px"
      >
        <v-toolbar-title class="text-h6">客製包裝站（透明殼）</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-col
          :cols="2"
        >
          <v-select
            v-model="currentTag"
            :items="tagList"
            label="TAG"
            class="pb-0 mb-0 mt-5"
            dense
            outlined
            clearable
          >
            <template v-slot:item="{ item }">
              <v-container
                class="text-h5"
              >
                {{ item }}
              </v-container>
            </template>
          </v-select>
        </v-col>
        <v-col
          :cols="2"
        >
          <v-select
            v-model="currentDevice"
            :items="deviceList"
            label="型號"
            class="pb-0 mb-0 mt-5"
            dense
            item-text="name"
            item-value="code"
            clearable
            outlined
          >
            <template v-slot:item="{ item }">
              <v-container
                class="text-h5"
              >
                {{ item.name }}
              </v-container>
            </template>
          </v-select>
        </v-col>
        <v-col
          :cols="2"
        >
          <v-select
            v-model="currentColor"
            :items="colorList"
            label="顏色"
            class="pb-0 mb-0 mt-5"
            dense
            item-text="code"
            clearable
            outlined
          >
            <template v-slot:item="{ item }">
              <v-container
                :style="`background-color: ${item.colorHex}`"
              >
                <v-chip
                  text-color="black"
                  color="white"
                  class="text-h5"
                >
                  {{ item.code }}
                </v-chip>
              </v-container>
            </template>
          </v-select>
        </v-col>
        <v-col
          :cols="2"
        >
          <v-select
            v-model="currentPack"
            :items="packList"
            label="包裝方式"
            class="pb-0 mb-0 mt-5"
            dense
            item-text="name"
            item-value="code"
            clearable
            outlined
          >
            <template v-slot:item="{ item }">
              <v-container
                class="text-h5"
              >
                {{ item.name }}
              </v-container>
            </template>
          </v-select>
        </v-col>
        <v-col
          :cols="1"
        >
          <v-toolbar-items>
            <v-btn
              text
              x-large
              @click="refreshWareList()"
            >
              <v-icon>
                mdi-refresh
              </v-icon>
              更新
            </v-btn>
          </v-toolbar-items>
        </v-col>
        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="gotoHomePage"
          >
            <v-icon>
              mdi-keyboard-backspace
            </v-icon>
            回首頁
          </v-btn>
        </v-toolbar-items>

        <template v-slot:extension>
          <v-row
            dense
          >
            <v-col
              :cols="10"
            >
              <v-tabs
                v-model="currentWareNo"
                slider-color="black"
                slider-size="5"
                background-color="yellow darken-1"
              >
                <v-tab
                  v-for="ware in wareList"
                  :key="ware.id"
                  :href="`#${ware.no}`"
                  x-large
                  class="text-h5"
                  @click="currentWareNo = ware.no"
                >
                  <v-icon
                    color="red"
                    v-if="ware.specialTag"
                  >
                    mdi-star
                  </v-icon>
                  {{ ware.no }}
                </v-tab>
              </v-tabs>
            </v-col>

            <v-col
              :cols="12"
            >
              <v-tabs-items
                v-model="currentWareNo"
                touchless
              >
                <v-tab-item
                  v-for="ware in wareList"
                  :key="ware.id"
                  :value="ware.no"
                >
                  <v-btn
                    v-for="boxIndex in 8"
                    :key="boxIndex"
                    x-large
                    :class="['ma-2 text-h5', {'yellow darken-3 black--text': boxIndex - 1 !== currentBoxIndex, 'red white--text': boxIndex - 1 === currentBoxIndex}]"
                    @click="currentBoxIndex = (boxIndex - 1)"
                  >
                    <v-icon
                      v-if="currentBoxIndex === boxIndex - 1"
                    >
                      mdi-check-outline
                    </v-icon>
                    {{ boxIndex }}
                  </v-btn>
                </v-tab-item>
              </v-tabs-items>
            </v-col>
          </v-row>
        </template>
      </v-app-bar>
    </v-card>
    <v-container
      class="pa-0 mx-0"
      style="max-width: 100%; margin-top: 200px;">

      <loading v-if="loading"></loading>

      <scanForm
        v-if="!loading && currentPackGroups.length === 0"
        :text="'無資料'">
      </scanForm>

      <div
        v-if="currentPackGroups.length > 0"
      >
      <v-card
        outlined
        class="pa-0 mx-0 my-2"
        color="teal darken-2"
        dense
        v-for="(packGroup, groupIndex) of currentPackGroups"
        :key="groupIndex">
        <v-row dense>
         <v-col :cols="2">
          <packType :packGroup="packGroup"></packType>
         </v-col>
         <v-col
          v-if="packGroup.stickers.length > 0"
          :cols="2">
          <laserSticker
           :item="packGroup">
          </laserSticker>
         </v-col>
         <v-col :cols="packGroup.stickers.length > 0 ? 8 : 10">
          <packItems
          :printItems="packGroup.printItems"
          :isNgBtn="true"
          @printBtn="printLabel"
          @ngBtn="confirmNG"
          >
           <template v-slot:printItem="item">
            <p class="ma-0 pa-0"
              v-text="`透明殼(${item.printItem.color.code}) - ${item.printItem.designText}`">
            </p>
           </template>
          </packItems>
         </v-col>
        </v-row>
      </v-card>
      </div>

    </v-container>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import fs from 'fs'
import path from 'path'
import { ipcRenderer } from 'electron'
import Loading from '@/components/Loading.vue'
import ScanForm from '@/components/ScanForm.vue'
import AlertDialog from '@/components/alertDialog.vue'
import PackType from '@/components/PackType.vue'
import LaserSticker from '@/components/LaserSticker.vue'
import PackItems from '@/components/PackItems.vue'
import ConfirmDialog from '@/components/confirmDialog.vue'
import { searchWares, searchDevices, getPrintItemByBatchId, reportPrintItemNg } from '../apis/modnx'
import { printLabel, setDonePack } from '../apis/solidsuit'
import { ColorCategory, DeviceCategory, PackCategory } from '@/types'
import { DesignSortPackGroup, DesignSortPrintItem } from '@/types/solidsuit'
import { Ware } from '@/types/modnx'
import moment from 'moment'

export default Vue.extend({
  name: 'ClearCase',

  components: {
    Loading,
    ScanForm,
    AlertDialog,
    ConfirmDialog,
    PackType,
    LaserSticker,
    PackItems
  },

  data: () => ({
    labelDir: 'C:/customized-package/label',
    loading: false,

    currentWareNo: '' as string,
    currentBoxIndex: 0 as number,
    currentTag: '' as string,
    currentDevice: '' as string,
    currentColor: '' as string,
    currentPack: '' as string,

    tagList: [] as Array<string>,
    deviceList: [] as Array<DeviceCategory>,
    colorList: [] as Array<ColorCategory>,
    packList: [] as Array<PackCategory>,
    wareList: [] as Array<Ware>,

    nowDate: moment().utcOffset(8).format('YYYY-MM-DD'),
    packingPrintItems: [] as Array<DesignSortPrintItem>,

    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    },
    confirmDialog: {
      show: false,
      message: '',
      onCancel () {
        this.show = false
        this.message = ''
      },
      onOk () {
        this.onCancel()
      }
    }
  }),

  async mounted () {
    this.getTagList()
    this.getColorList()
    this.getPackList()
    await this.getDeviceList()
    await this.refreshWareList()
  },

  watch: {
    currentWareNo (val) {
      if (val !== '') {
        this.currentBoxIndex = 0
        this.getBatchByWare()
      }
    }
  },

  computed: {
    filteredPrintItems () {
      let result = [] as Array<DesignSortPrintItem>
      if (this.packingPrintItems.length > 0) {
        result = this.packingPrintItems.filter((printItem: DesignSortPrintItem) => {
          return (
            (printItem.group === this.currentBoxIndex) &&
            (!this.currentTag || printItem.orderTag === this.currentTag) &&
            (!this.currentDevice || printItem.device.code === this.currentDevice) &&
            (!this.currentColor || printItem.color.code === this.currentColor) &&
            (!this.currentPack || printItem.caseType.pack === this.currentPack)
          )
        })
      }
      return result
    },
    currentPackGroups () {
      const result = [] as Array<DesignSortPackGroup>
      if (this.filteredPrintItems.length > 0) {
        this.filteredPrintItems.forEach((printItem: DesignSortPrintItem) => {
          const group = result.find(g => {
            return (
              g.orderTag === printItem.orderTag &&
              g.pack === printItem.caseType.pack &&
              g.caseTypeCode === printItem.caseType.code &&
              g.film === printItem.device.film &&
              g.shape === printItem.device.shape &&
              g.cardboard === printItem.device.cardboard &&
              g.laserType === printItem.laserType
            )
          })
          if (!group) {
            result.push({
              designSortType: printItem.designSort.type,
              designSortName: printItem.designSort.name,
              orderTag: printItem.orderTag,
              caseTypeCode: printItem.caseType.code,
              pack: printItem.caseType.pack,
              film: printItem.device.film,
              shape: printItem.device.shape,
              cardboard: printItem.device.cardboard,
              laserType: printItem.laserType,
              stickers: printItem.stickers,
              packImages: printItem.packImages,
              printItems: [printItem]
            })
          } else {
            group.printItems.push(printItem)
          }
        })
      }
      return result
    },
    handleColor () {
      return (printItem: DesignSortPrintItem) => {
        return {
          backgroundColor: '#dbe2ef',
          borderColor: printItem.color.colorHex,
          borderWidth: '5px'
        }
      }
    }
  },

  methods: {
    gotoHomePage () {
      this.$router.push('/')
    },
    getTagList () {
      this.tagList = [
        '急單', '只印不出', '國內B2B', '國外B2B', '拍照樣品',
        '平台換貨/補寄', '平台', 'B2B換貨', '實體店面'
      ]
    },
    getColorList () {
      this.colorList = [
        {
          name: '全透明',
          code: 'F9',
          colorHex: ''
        }, {
          name: '煙燻灰',
          code: 'F5',
          colorHex: '#857C79'
        }
      ]
    },
    getPackList () {
      this.packList = [
        {
          name: '環保包裝盒',
          code: '環保包裝盒'
        }, {
          name: '環保信封套',
          code: '環保信封套'
        }, {
          name: '環保包裝盒-華納',
          code: '環保包裝盒-華納'
        }, {
          name: '環保信封套-華納',
          code: '環保信封套-華納'
        }, {
          name: '特殊彩盒',
          code: '特殊彩盒'
        }, {
          name: '一般彩盒',
          code: '一般彩盒'
        }, {
          name: '泡殼',
          code: '泡殼'
        }, {
          name: 'Kitty信封套',
          code: 'Kitty信封套'
        }
      ]
    },
    async getDeviceList () {
      try {
        const devices = (await searchDevices()).data
        this.deviceList = devices.filter((device: DeviceCategory) => {
          return device.brandCode === '01'
        }).map((device: DeviceCategory) => {
          device.name = `${device.brandCode}-${device.deviceCode} (${device.brandName} ${device.deviceName})`
          device.code = device.deviceCode
          return device
        })
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      }
    },
    async getWareList () {
      try {
        this.wareList = (await searchWares(true, 'clear-box', 'done_pqc')).data
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      }
    },
    async refreshWareList () {
      try {
        this.loading = true
        this.resetData()
        await this.getWareList()
        if (this.wareList.length > 0) {
          this.currentWareNo = this.wareList[0].no
          this.currentBoxIndex = 0
        }
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.loading = false
      }
    },
    resetData () {
      this.currentWareNo = ''
      this.currentTag = ''
      this.currentDevice = ''
      this.currentColor = ''
      this.currentPack = ''
      this.currentBoxIndex = 0
    },
    async getBatchByWare () {
      try {
        this.loading = true
        const ware = this.wareList.find(ware => ware.no === this.currentWareNo)
        if (!ware) return
        const batchId = ware.batchId
        this.packingPrintItems = (await getPrintItemByBatchId(batchId)).data
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.loading = false
      }
    },
    async printLabel (printItem: DesignSortPrintItem) {
      this.confirmDialog.message = '確定要印標籤？'
      this.confirmDialog.onOk = async () => {
        try {
          this.confirmDialog.onCancel()
          await this.donePack(printItem)
          const filePath = path.join(this.labelDir, String(printItem.shipmentItemId))
          const res = await printLabel(printItem.shipmentItemId, 'datamatrix')
          fs.writeFileSync(filePath, Buffer.from(res.data))
          ipcRenderer.send('print-pdf', filePath)
        } catch (err) {
          this.alertDialog.message = `下載面單檔案失敗:${printItem.shipmentItemId}`
          this.alertDialog.show = true
        }
      }
      this.confirmDialog.show = true
    },

    async confirmNG (printItem: DesignSortPrintItem) {
      this.confirmDialog.message = '確定要 NG 重印？'
      this.confirmDialog.onOk = async () => {
        try {
          await reportPrintItemNg(printItem.id, 'pack')
          printItem.isNg = true
        } catch (error: any) {
          this.alertDialog.message = error.response.data.message || ''
          this.alertDialog.show = true
        }
      }
      this.confirmDialog.show = true
    },

    async donePack (printItem: DesignSortPrintItem) {
      try {
        await setDonePack(printItem.id)
        printItem.packedAt = moment().utc().format('YYYY-MM-DD')
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      }
    }
  }
})
</script>
