<template>
  <v-container
    fill-height
    class="align-center justify-center"
  >
    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'ng-page'}"
    >
      貼皮<br>PQC
    </v-btn>

    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'solidsuit-page'}"
    >
      包裝<br>SolidSuit
    </v-btn>

    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'modnx-page'}"
    >
      包裝<br>ModNX
    </v-btn>

    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'clear-page'}"
    >
      包裝<br>透明殼
    </v-btn>

    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'airpods-page'}"
    >
      包裝<br>AirPods
    </v-btn>

    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'hotstamp-page'}"
    >
      包裝<br>燙印
    </v-btn>

    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'stock-page'}"
    >
      客製<br>庫存
    </v-btn>
    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'sort-page'}"
    >
      掃圖<br>機
    </v-btn>
    <v-btn
      outlined
      class="ma-auto text-h2 yellow darken-1"
      style="height: 350px; width: 350px;"
      :to="{name: 'match-case-page'}"
    >
      脆盤<br>配殼
    </v-btn>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Home'
})
</script>
