
<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>

    <ConfirmDialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      @onCancel="confirmDialog.onCancel()"
      @onOk="confirmDialog.onOk"
    >
    </ConfirmDialog>
    <v-card
      class="ma-0 pa-0"
    >
      <v-app-bar
        class="yellow darken-1"
        fixed
        extension-height="80px"
      >
        <v-toolbar-title class="text-h5">燙印包裝站</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="fetchData()"
          >
            <v-icon>
              mdi-refresh
            </v-icon>
            更新
          </v-btn>
        </v-toolbar-items>

        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="gotoHomePage"
          >
            <v-icon>
              mdi-keyboard-backspace
            </v-icon>
            回首頁
          </v-btn>
        </v-toolbar-items>

        <template v-slot:extension>
          <v-row
            dense
          >
            <v-col
              :cols="5"
            >
              <v-tabs
                slider-color="black"
                slider-size="5"
                background-color="yellow darken-1"
              >
                <v-tab
                  v-for="(caseType, index) in caseTypeList"
                  :key="index"
                  x-large
                  class="text-h5"
                  @click="setCurrentCaseType(caseType)"
                >
                  {{ caseType }}
                  <v-chip
                    v-if="currentCaseType === caseType"
                    class="ml-2"
                    color="orange"
                    v-text="phonecaseTotal"
                  >
                  </v-chip>
                </v-tab>
              </v-tabs>
            </v-col>
            <v-col
              :cols="2"
            >
              <v-select
                v-model="currentCreateDate"
                :items="createDateList"
                label="日期"
                class="pb-0 mb-0"
                dense
                clearable
                outlined
              >
                <template v-slot:item="{ item }">
                  <v-container
                    class="text-h5"
                  >
                    {{ item }}
                  </v-container>
                </template>
              </v-select>
            </v-col>
            <v-col
              :cols="2"
            >
              <v-select
                v-model="currentDevice"
                :items="deviceList"
                label="手機型號"
                class="pb-0 mb-0"
                dense
                item-text="name"
                item-value="code"
                clearable
                outlined
              >
                <template v-slot:item="{ item }">
                  <v-container
                    class="text-h5"
                  >
                    {{ item.name }}
                  </v-container>
                </template>
              </v-select>
            </v-col>
            <v-col
              :cols="2"
            >
              <v-select
                v-model="currentTextLength"
                :items="textLengthList"
                label="燙印字數"
                class="pb-0 mb-0"
                dense
                clearable
                outlined
              >
                <template v-slot:item="{ item }">
                  <v-container
                    class="text-h5"
                  >
                    {{ item }}
                  </v-container>
                </template>
              </v-select>
            </v-col>
          </v-row>
        </template>
      </v-app-bar>
    </v-card>
    <v-container
      class="pa-0 mx-0"
      style="max-width: 100%; margin-top: 150px;"
    >

    <loading v-if="isLoading"></loading>

    <scanForm
      v-if="!isLoading && packGroups.length === 0"
      :text="'目前無資料顯示'">
    </scanForm>

      <template v-if="!isLoading && packGroups.length > 0">
        <v-card
          outlined
          class="pa-0 mx-0 my-2"
          color="teal darken-2"
          dense
          v-for="(packGroup, groupIndex) of packGroups"
          :key="groupIndex"
        >
          <v-row dense>
            <v-col
              :cols="2"
            >
              <v-container
                class="py-1 px-0 ma-1"
              >
                <v-card>
                  <v-card-title
                    class="blue lighten-1 black--text text-h5"
                    style="font-weight: 400"
                  >
                    包裝方式：{{ packGroup.pack }}
                  </v-card-title>

                  <v-card-text
                    v-if="packGroup.orderTag !== 'B2C'"
                    class="text-h3 red darken-4 white--text ma-auto pb-2 pt-2 justify-center"
                    style="font-weight: 700;"
                  >
                    {{ packGroup.orderTag }}
                  </v-card-text>

                  <v-card-text
                    v-if="packGroup.clamshell !== ''"
                    class="text-h5 mt-2 pt-0"
                  >
                    泡殼：{{ packGroup.clamshell }}
                  </v-card-text>
                  <v-card-text
                    v-if="packGroup.cardboard !== ''"
                    class="text-h5 mt-0 pt-0"
                  >
                    底卡：{{ packGroup.cardboard }}
                  </v-card-text>
                  <v-card-text
                    v-if="packGroup.shape !== ''"
                    class="text-h5 mt-0 pt-0"
                  >
                    吸塑：{{ packGroup.shape }}
                  </v-card-text>
                  <v-card-text
                    v-if="packGroup.film !== ''"
                    class="text-h5 mt-0 pt-0"
                  >
                    膠膜：{{ packGroup.film }}
                  </v-card-text>
                  <v-card-text
                    class="text-h5 mt-0 pt-0"
                  >
                    <v-card
                      outlined
                      v-for="(packImage, packImageIndex) of packGroup.packImages"
                      :key="packImageIndex"
                    >
                      <v-img
                        :src="`${fileServer}${packImage}`"
                        class="white--text ma-auto"
                        style="max-width: 200px;"
                      >
                      </v-img>
                    </v-card>
                  </v-card-text>
                </v-card>
              </v-container>
            </v-col>
            <v-col
              :cols="10"
            >
              <v-container
                class="py-1 px-0 ma-1"
              >
                <v-row>
                  <v-col
                    v-for="hotstampItem of packGroup.hotstampItems"
                    :key="hotstampItem.id"
                    :cols="hotstampItem.imagePath === '' ? 3 : 5"
                  >
                    <v-card
                      :style="handleColor(hotstampItem)"
                    >
                      <v-card-title
                        class="white--text px-2 py-1 green darken-2 d-flex justify-between"
                        style="font-size: 18px;"
                        >
                        <span class="text-h5">{{ hotstampItem.sku }}</span><br>
                        <span
                          v-if="hotstampItem.pastNg"
                          class="text-h6 white--text red darken-2 px-3"
                        >
                          NG(燙印)
                        </span>
                        <span
                          v-if="hotstampItem.orderTag === '平台'"
                          class="text-h6 white--text purple darken-2 px-3"
                        >
                          平台
                        </span>
                      </v-card-title>
                      <v-row dense>
                        <v-col :cols="hotstampItem.imagePath === '' ? 12 : 6">
                          <v-card-text
                            class="mt-2 pt-0"
                            style="font-size:20px;"
                          >
                            型號：{{ hotstampItem.device.name }}
                          </v-card-text>
                          <v-card-text
                            class="mt-0 pt-0"
                            style="font-size:20px;"
                          >
                            文字：{{ hotstampItem.text }}
                          </v-card-text>
                          <v-card-text
                            class="mt-0 pt-0"
                            style="font-size:20px;"
                          >
                            字型：{{ hotstampItem.font }}
                          </v-card-text>
                          <v-card-text
                            class="mt-0 pt-0"
                            style="font-size:20px;"
                          >
                            顏色：{{ hotstampItem.color }}
                          </v-card-text>
                          <v-card-text
                            class="mt-0 pt-0"
                            style="font-size:20px;"
                          >
                            <span>訂單備註：</span>
                            <span class="red--text">{{ hotstampItem.note }}</span>
                          </v-card-text>
                          <v-card-actions>
                            <v-btn
                              block
                              color="primary"
                              class="white--text py-6"
                              style="font-size:20px"
                              @click="donePack(hotstampItem)"
                            >
                              <v-icon class="mr-2">
                                mdi-check-outline
                              </v-icon>
                              印標籤
                            </v-btn>
                          </v-card-actions>
                          <v-card-actions>
                            <v-btn
                              block
                              color="error"
                              class="white--text py-6"
                              style="font-size:20px"
                              @click="confirmNG(hotstampItem)"
                            >
                              <v-icon class="mr-2">
                                mdi-refresh
                              </v-icon>
                              NG重燙
                            </v-btn>
                          </v-card-actions>
                        </v-col>
                        <v-col v-if="hotstampItem.imagePath !== ''" :cols="6">
                          <v-img
                            :src="`${fileServer}${previewPath}${hotstampItem.imagePath}`"
                            :lazy-src="`${fileServer}${previewPath}${hotstampItem.imagePath}`"
                            aspect-ratio="1"
                            class="white"
                            height="370"
                          >
                            <template v-slot:placeholder>
                              <v-row
                                class="fill-height ma-0"
                                align="center"
                                justify="center"
                              >
                                <v-progress-circular
                                  indeterminate
                                  color="teal darken-2"
                                ></v-progress-circular>
                              </v-row>
                            </template>
                          </v-img>
                        </v-col>
                      </v-row>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
          </v-row>
        </v-card>
      </template>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import fs from 'fs'
import path from 'path'
import { ipcRenderer } from 'electron'
import Vue from 'vue'

import { HotstampItem, PackGroup } from '@/types/hotstamp'

import { getPackingHotstampItems, setDonePack, markAsReprint, markAsNg } from '@/apis/hotstamp'
import { printLabel } from '@/apis/solidsuit'

import { fileServer, previewPath } from '@/config/index'

import Loading from '@/components/Loading.vue'
import ScanForm from '@/components/ScanForm.vue'
import AlertDialog from '@/components/alertDialog.vue'
import ConfirmDialog from '@/components/confirmDialog.vue'

export default Vue.extend({
  name: 'Hotstamp',

  components: {
    Loading,
    ScanForm,
    AlertDialog,
    ConfirmDialog
  },

  data: () => ({
    labelDir: 'C:/customized-package/label',
    fileServer: fileServer as string,
    previewPath: previewPath as string,

    isLoading: false as boolean,
    hotstampItems: [] as Array<HotstampItem>,

    currentCaseType: '' as string,
    currentCreateDate: '' as string,
    currentTextLength: 0 as number,
    currentDevice: {} as string,

    caseTypeList: ['SolidSuit', 'ModNX', 'AirPodsCase'] as Array<string>,
    createDateList: [] as Array<string>,
    textLengthList: [] as Array<number>,
    deviceList: [] as Array<{code: string, name: string}>,

    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    },
    confirmDialog: {
      show: false,
      message: '',
      onCancel () {
        this.show = false
        this.message = ''
      },
      onOk () {
        this.onCancel()
      }
    }
  }),

  computed: {
    packGroups (): Array<PackGroup> {
      const filteredItems = this.hotstampItems.filter((hotstampItem: HotstampItem) => {
        return (
          (this.currentCreateDate === '' || hotstampItem.createDate === this.currentCreateDate) &&
          (this.currentDevice === '' || hotstampItem.device.code === this.currentDevice) &&
          (this.currentTextLength === 0 || hotstampItem.textLength === this.currentTextLength)
        )
      }).sort((a:HotstampItem, b:HotstampItem) => {
        if (a.pastNg > b.pastNg) {
          return 1
        } else if (a.pastNg < b.pastNg) {
          return -1
        }
        return a.createDate.localeCompare(b.createDate)
      })
      return this.groupByPack(filteredItems)
    },
    phonecaseTotal (): number {
      let total = 0
      this.packGroups.forEach(group => {
        total += group.hotstampItems.length
      })
      return total
    }
  },

  async mounted () {
    const caseType = this.caseTypeList[0]
    await this.setCurrentCaseType(caseType)
  },

  methods: {
    gotoHomePage () {
      this.$router.push('/')
    },
    async setCurrentCaseType (caseType: string) {
      this.currentCaseType = caseType
      await this.fetchData()
    },
    async fetchData () {
      try {
        this.isLoading = true
        this.resetData()
        const caseType = this.currentCaseType
        this.hotstampItems = (await getPackingHotstampItems(caseType)).data
        this.initialCreateDates()
        this.initialTextLengths()
        this.initialDeviceList()
      } finally {
        this.isLoading = false
      }
    },
    resetData () {
      this.hotstampItems = []
      this.createDateList = []
      this.textLengthList = []
      this.deviceList = []
      this.currentCreateDate = ''
      this.currentTextLength = 0
      this.currentDevice = ''
    },
    initialCreateDates () {
      this.createDateList = this.hotstampItems.reduce((acc, curr) => {
        if (!acc.includes(curr.createDate)) {
          acc.push(curr.createDate)
        }
        return acc
      }, [] as Array<string>)
    },
    initialTextLengths () {
      this.textLengthList = this.hotstampItems.reduce((acc, curr) => {
        if (!acc.includes(curr.textLength)) {
          acc.push(curr.textLength)
        }
        return acc
      }, [] as Array<number>)
    },
    initialDeviceList () {
      this.deviceList = this.hotstampItems.reduce((acc, curr) => {
        const index = acc.findIndex(item => item.code === curr.device.code)
        if (index < 0) {
          acc.push({
            code: curr.device.code,
            name: `${curr.device.brandCode}-${curr.device.code}(${curr.device.name})`
          })
        }
        return acc
      }, [] as Array<{code: string, name: string}>)
    },
    groupByPack (hotstampItems: Array<HotstampItem>): Array<PackGroup> {
      const packGroups = [] as Array<PackGroup>
      hotstampItems.forEach(hotstampItem => {
        const g = packGroups.find(g => {
          return (
            g.orderTag === hotstampItem.orderTag &&
            g.pack === hotstampItem.caseType.pack &&
            g.caseTypeCode === hotstampItem.caseType.code &&
            g.film === hotstampItem.device.film &&
            g.shape === hotstampItem.device.shape &&
            g.clamshell === hotstampItem.device.clamshell &&
            g.cardboard === hotstampItem.device.cardboard
          )
        })

        if (g) {
          g.hotstampItems.push(hotstampItem)
        } else {
          packGroups.push({
            orderTag: hotstampItem.orderTag,
            caseTypeCode: hotstampItem.caseType.code,
            pack: hotstampItem.caseType.pack,
            film: hotstampItem.device.film,
            shape: hotstampItem.device.shape,
            clamshell: hotstampItem.device.clamshell,
            cardboard: hotstampItem.device.cardboard,
            packImages: hotstampItem.packImages,
            hotstampItems: [hotstampItem]
          })
        }
      })
      return packGroups
    },
    handleColor () {
      return (hotstampItem: HotstampItem) => {
        return {
          backgroundColor: '#dbe2ef',
          borderColor: hotstampItem.caseColor.colorHex,
          borderWidth: '5px'
        }
      }
    },
    async donePack (hotstampItem: HotstampItem) {
      const index = this.hotstampItems.findIndex(item => item.id === hotstampItem.id)
      if (index < 0) return
      try {
        await setDonePack(hotstampItem.id)
        const filePath = path.join(this.labelDir, String(hotstampItem.shipmentItemId))
        const res = await printLabel(hotstampItem.shipmentItemId, '')
        fs.writeFileSync(filePath, Buffer.from(res.data))
        ipcRenderer.send('print-pdf', filePath)
        this.hotstampItems.splice(index, 1)
      } catch (error: any) {
        let errorMessage = `下載面單檔案失敗:${hotstampItem.shipmentItemId}`
        if (error.response.data.message) {
          errorMessage = error.response.data.message
        }
        this.alertDialog.message = errorMessage
        this.alertDialog.show = true
      }
    },
    async confirmNG (hotstampItem: HotstampItem) {
      this.confirmDialog.message = '確定要 NG 重燙？'
      const index = this.hotstampItems.findIndex(item => item.id === hotstampItem.id)
      if (index < 0) return
      this.confirmDialog.onOk = async () => {
        try {
          const isCustomized = /-[A-Z]+/.test(hotstampItem.sku)
          if (this.currentCaseType === 'ModNX' && isCustomized) {
            await markAsReprint(hotstampItem.id, 'pack')
          } else {
            await markAsNg(hotstampItem.id)
          }
          this.hotstampItems.splice(index, 1)
        } catch (error: any) {
          this.alertDialog.message = error.response.data.message || ''
          this.alertDialog.show = true
        } finally {
          this.confirmDialog.onCancel()
        }
      }

      this.confirmDialog.show = true
    }
  }
})
</script>
