
<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <v-card
      class="ma-0 pa-0"
    >
      <v-app-bar
        class="yellow darken-1"
        fixed
        extension-height="80px"
      >
        <v-toolbar-title class="text-h5">脆盤配殼站</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="gotoHomePage"
          >
            <v-icon>
              mdi-keyboard-backspace
            </v-icon>
            回首頁
          </v-btn>
        </v-toolbar-items>

      </v-app-bar>
    </v-card>
    <v-container
      class="pa-0 mx-0"
      style="max-width: 100%; margin-top: 80px;">

      <loading v-if="isLoading"></loading>

      <scanForm
        v-if="!isLoading && printItems.length === 0"
        :text="'請掃脆盤條碼'">
      </scanForm>

      <plasticPlate
        v-if="!isLoading && printItems.length > 0"
        :isLoading="isLoading"
        :printItems="printItems">
      </plasticPlate>
   </v-container>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import Loading from '@/components/Loading.vue'
import ScanForm from '@/components/ScanForm.vue'
import AlertDialog from '@/components/alertDialog.vue'
import PlasticPlate from '@/components/PlasticPlate.vue'
import { MatchCaseItem } from '@/types/matchCase'
import { getMatchCaseItems } from '@/apis/matchCase'

export default Vue.extend({
  name: 'MatchCase',

  components: {
    Loading,
    ScanForm,
    AlertDialog,
    PlasticPlate
  },

  data: () => ({
    isLoading: false,
    printItems: [] as Array<MatchCaseItem>,
    barcodeValue: '',
    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    }
  }),

  computed: {
    firstItems () {
      let result = [] as Array<MatchCaseItem>
      if (this.printItems.length > 0) {
        result = this.printItems.slice(0, 5)
      }
      return result
    },
    secondItems () {
      let result = [] as Array<MatchCaseItem>
      if (this.printItems.length > 0) {
        result = this.printItems.slice(5)
      }
      return result
    }
  },

  mounted () {
    this.listenKeyDownEvent()
  },

  methods: {
    gotoHomePage () {
      this.$router.push('/')
    },
    listenKeyDownEvent () {
      this.barcodeValue = ''
      window.addEventListener('keydown', async (e: KeyboardEvent) => {
        if (e.key === 'Enter') {
          await this.getNeedMatchItems()
        } else {
          if (e.key !== 'Shift') {
            this.barcodeValue += e.key
          }
        }
      })
    },
    async getNeedMatchItems () {
      try {
        this.isLoading = true
        const wareNo = this.barcodeValue
        this.printItems = (await getMatchCaseItems('skin', wareNo)).data
        if (this.printItems.length > 0) {
          // 最後一個位置塞入載具條碼
          const lastItem: MatchCaseItem = { ...this.printItems[0] }
          lastItem.id = 168
          lastItem.imagePath = 'Other/plastic-card.jpg'
          this.printItems.push(lastItem)
        } else {
          this.alertDialog.show = true
          this.alertDialog.message = `該脆盤${wareNo}尚無綁定品項`
        }
      } catch (error: any) {
        this.alertDialog.show = true
        this.alertDialog.message = error.response.data.message || ''
      } finally {
        this.barcodeValue = ''
        this.isLoading = false
      }
    }
  }
})
</script>
