<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>

    <ConfirmDialog
      :show="confirmDialog.show"
      :message="confirmDialog.message"
      @onCancel="confirmDialog.onCancel()"
      @onOk="confirmDialog.onOk"
    >
    </ConfirmDialog>

    <v-card
      class="ma-0 pa-0"
    >
      <v-app-bar
        class="yellow darken-1"
        fixed
        extension-height="240px"
      >

        <v-toolbar-title class="text-h5">客製包裝站（貼皮）</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-col
          :cols="2"
        >
          <v-select
            v-model="currentColor"
            :items="colorList"
            label="顏色"
            class="pb-0 mb-0 mt-5"
            dense
            item-text="code"
            clearable
            outlined
          >
            <template v-slot:item="{ item }">
              <v-container
                :style="`background-color: ${item.colorHex}`"
              >
                <v-chip
                  text-color="black"
                  color="white"
                  class="text-h5"
                >
                  {{ item.code }}
                </v-chip>
              </v-container>
            </template>
          </v-select>
        </v-col>
        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="gotoHomePage"
          >
            <v-icon>
              mdi-keyboard-backspace
            </v-icon>
            回首頁
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>
    </v-card>

    <v-container
      class="pa-0 mx-0"
      style="max-width: 100%; margin-top: 80px;">

      <loading v-if="loading"></loading>

      <scanForm
        v-if="!loading && currentPackGroups.length === 0"
        :text="'請掃脆盤條碼'">
      </scanForm>

      <div
        v-if="currentPackGroups.length > 0 && !loading"
      >
      <v-card
        outlined
        class="pa-0 mx-0 my-2"
        color="teal darken-2"
        dense
        v-for="(packGroup, groupIndex) of currentPackGroups"
        :key="groupIndex">
        <v-row dense>
         <v-col :cols="2">
          <packType :packGroup="packGroup" ></packType>
         </v-col>
         <v-col
          :cols="2"
          v-if="packGroup.stickers.length > 0"
         >
          <laserSticker
           :item="packGroup">
          </laserSticker>
         </v-col>
         <v-col :cols="packGroup.stickers.length > 0 ? 8 : 10">
          <packItems
          :printItems="packGroup.printItems"
          @printBtn="printLabel"
          >
           <template v-slot:printItem="item">
            <p class="ma-0 pa-0"
              v-text="`${item.printItem.color.chineseName}殼(${item.printItem.color.code}) - ${item.printItem.designText}`">
            </p>
           </template>
          </packItems>
         </v-col>
        </v-row>
      </v-card>
      </div>

    </v-container>
  </v-container>
</template>

<script lang="ts">
import fs from 'fs'
import path from 'path'
import { ipcRenderer } from 'electron'

import Vue from 'vue'
import { getPackItems, printLabel, setDonePack } from '../apis/solidsuit'
import { DesignSortPackGroup, DesignSortPrintItem } from '@/types/solidsuit'
import { fileServer, previewPath, casePath } from '@/config/index'
import Loading from '@/components/Loading.vue'
import ScanForm from '@/components/ScanForm.vue'
import AlertDialog from '@/components/alertDialog.vue'
import ConfirmDialog from '@/components/confirmDialog.vue'
import PackType from '@/components/PackType.vue'
import LaserSticker from '@/components/LaserSticker.vue'
import PackItems from '@/components/PackItems.vue'

import moment from 'moment'
import { ColorCategory } from '@/types'
import { searchColors } from '@/apis/modnx'

export default Vue.extend({
  name: 'SolidSuit',

  components: {
    Loading,
    ScanForm,
    AlertDialog,
    ConfirmDialog,
    PackType,
    LaserSticker,
    PackItems
  },

  data: () => ({
    labelDir: 'C:/customized-package/label',
    loading: false,
    fileServer: fileServer as string,
    previewPath: previewPath as string,
    casePath: casePath as string,
    packingPrintItems: [] as Array<DesignSortPrintItem>,
    colorList: [] as Array<ColorCategory>,
    barcodeValue: '',
    currentColor: '' as string,
    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    },
    confirmDialog: {
      show: false,
      message: '',
      onCancel () {
        this.show = false
        this.message = ''
      },
      onOk () {
        this.onCancel()
      }
    }
  }),

  async mounted () {
    this.listenKeyDownEvent()
    await this.getColorList()
  },

  computed: {
    filteredPrintItems () {
      let result = [] as Array<DesignSortPrintItem>
      if (this.packingPrintItems.length > 0) {
        result = this.packingPrintItems.filter((printItem: DesignSortPrintItem) => {
          return (
            (!this.currentColor || printItem.color.code === this.currentColor)
          )
        })
      }
      return result
    },
    currentPackGroups () {
      const result = [] as Array<DesignSortPackGroup>
      if (this.filteredPrintItems.length > 0) {
        this.filteredPrintItems.forEach((printItem: DesignSortPrintItem) => {
          const group = result.find(g => {
            return (
              g.orderTag === printItem.orderTag &&
              g.pack === printItem.caseType.pack &&
              g.caseTypeCode === printItem.caseType.code &&
              g.film === printItem.device.film &&
              g.shape === printItem.device.shape &&
              g.laserType === printItem.laserType
            )
          })
          if (!group) {
            result.push({
              designSortType: printItem.designSort.type,
              designSortName: printItem.designSort.name,
              orderTag: printItem.orderTag,
              caseTypeCode: printItem.caseType.code,
              pack: printItem.caseType.pack,
              film: printItem.device.film,
              shape: printItem.device.shape,
              laserType: printItem.laserType,
              stickers: printItem.stickers,
              packImages: printItem.packImages,
              printItems: [printItem]
            })
          } else {
            group.printItems.push(printItem)
          }
        })
      }
      return result
    },

    handleColor () {
      return (printItem: DesignSortPrintItem) => {
        return {
          backgroundColor: '#dbe2ef',
          borderColor: printItem.color.colorHex,
          borderWidth: '5px'
        }
      }
    }
  },

  methods: {
    gotoHomePage () {
      this.$router.push('/')
    },
    listenKeyDownEvent () {
      this.barcodeValue = ''
      window.addEventListener('keydown', async (e: KeyboardEvent) => {
        if (e.key === 'Enter') {
          await this.getNeedPackItems()
        } else {
          if (e.key !== 'Shift') {
            this.barcodeValue += e.key
          }
        }
      })
    },
    async getNeedPackItems () {
      try {
        this.loading = true
        const wareNo = this.barcodeValue
        this.packingPrintItems = (await getPackItems('pack', wareNo)).data
        // console.log(this.packingPrintItems)
        if (this.packingPrintItems.length === 0) {
          this.alertDialog.show = true
          this.alertDialog.message = `該脆盤${wareNo}尚無綁定品項`
        }
      } catch (error: any) {
        this.alertDialog.show = true
        this.alertDialog.message = error.response.data.message || ''
      } finally {
        this.loading = false
        this.barcodeValue = ''
      }
    },
    async printLabel (printItem: DesignSortPrintItem) {
      this.confirmDialog.message = '確定要印標籤？'
      this.confirmDialog.onOk = async () => {
        try {
          this.confirmDialog.onCancel()
          await this.donePack(printItem)
          const filePath = path.join(this.labelDir, String(printItem.shipmentItemId))
          const res = await printLabel(printItem.shipmentItemId, 'datamatrix')
          fs.writeFileSync(filePath, Buffer.from(res.data))
          ipcRenderer.send('print-pdf', filePath)
        } catch (err) {
          this.alertDialog.message = `下載面單檔案失敗:${printItem.shipmentItemId}`
          this.alertDialog.show = true
        }
      }
      this.confirmDialog.show = true
    },

    async donePack (printItem: DesignSortPrintItem) {
      try {
        await setDonePack(printItem.id)
        printItem.packedAt = moment().utc().format('YYYY-MM-DD')
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      }
    },

    async getColorList () {
      try {
        this.colorList = (await searchColors()).data
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      }
    }
  }
})
</script>
