
<template>
  <v-container>
    <v-card
      class="ma-0 pa-0"
    >
      <v-app-bar
        class="yellow darken-1"
        fixed
        extension-height="80px"
      >
        <v-toolbar-title class="text-h5">掃圖機</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="gotoHomePage"
          >
            <v-icon>
              mdi-keyboard-backspace
            </v-icon>
            回首頁
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>
    </v-card>
    <v-container
      class="pa-0 mx-0"
      style="max-width: 100%; margin-top: 40px;"
    >
      <ScanItem></ScanItem>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import ScanItem from '@/components/ScanItem.vue'

export default Vue.extend({
  name: 'Sort',

  components: {
    ScanItem
  },

  data: () => ({
    navItems: [
      { name: '掃客製品' }
    ],
    navItemIndex: 0
  }),

  methods: {
    selectNavItem (name: string) {
      this.navItemIndex = this.navItems.findIndex(navItem => navItem.name === name)
    },
    gotoHomePage () {
      this.$router.push('/')
    }
  }
})
</script>
