
<template>
  <v-container>
    <v-card
      class="ma-0 pa-0"
    >
      <v-app-bar
        class="yellow darken-1"
        fixed
        extension-height="80px"
      >
        <v-toolbar-title class="text-h5">客製庫存站</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn
            text
            x-large
            @click="gotoHomePage"
          >
            <v-icon>
              mdi-keyboard-backspace
            </v-icon>
            回首頁
          </v-btn>
        </v-toolbar-items>

        <template v-slot:extension>
          <v-row
            dense
          >
            <v-col
              :cols="5"
            >
              <v-tabs
                slider-color="black"
                slider-size="5"
                background-color="yellow darken-1"
              >
                <v-tab
                  v-for="(navItem, index) in navItems"
                  :key="index"
                  x-large
                  class="text-h5"
                  @click="selectNavItem(navItem.name)"
                >
                  {{ navItem.name }}
                </v-tab>
              </v-tabs>
            </v-col>
          </v-row>
        </template>
      </v-app-bar>
    </v-card>
    <v-container
      class="pa-0 mx-0"
      style="max-width: 100%; margin-top: 150px;"
    >
      <StockList v-if="navItemIndex === 0" @copySku="receiveSku"></StockList>
      <ScanStock v-if="navItemIndex === 1" :currentSku="currentSku"></ScanStock>
      <StockForm v-if="navItemIndex === 2"></StockForm>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import StockList from '@/components/StockList.vue'
import ScanStock from '@/components/ScanStock.vue'
import StockForm from '@/components/StockForm.vue'

export default Vue.extend({
  name: 'Stock',

  components: {
    StockList,
    ScanStock,
    StockForm
  },

  data: () => ({
    navItems: [
      { name: '撿庫存清單' },
      { name: '掃庫存品' },
      { name: '庫存表單' }
    ],
    navItemIndex: 0,
    currentSku: ''
  }),

  methods: {
    selectNavItem (name: string) {
      this.navItemIndex = this.navItems.findIndex(navItem => navItem.name === name)
    },
    gotoHomePage () {
      this.$router.push('/')
    },
    receiveSku (sku: string) {
      this.currentSku = sku
    }
  }
})
</script>
