<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="600"
  >
    <v-card>
      <v-toolbar
        color="primary"
        class="text-h4"
        dark
      >
        確認
      </v-toolbar>

      <v-card-text>
        <div class="text-h5 pa-2">{{ message }}</div>
      </v-card-text>

      <v-card-actions class="justify-end">
        <v-btn
          outlined
          x-large
          @click="cancelBtn"
        >
          取消
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
          outlined
          x-large
          @click="okBtn"
        >
          <v-icon
            color="green"
          >
            mdi-check-outline
          </v-icon>
          確定執行
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ConfirmDialog',

  props: {
    show: {
      type: Boolean
    },
    message: {
      type: String
    }
  },

  methods: {
    okBtn () {
      this.$emit('onOk')
    },

    cancelBtn () {
      this.$emit('onCancel')
    }
  }
}
</script>
