<template>
  <v-container>
    <v-row
      justify="center"
      align-content="center"
      style="margin-top: 150px; height:500px"
    >
      <v-progress-circular
        indeterminate
        color="primary"
        :size="70"
        :width="7"
      ></v-progress-circular>
      <div class="textPosition">處理中...</div>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'DataLoading'
})
</script>

<style lang="scss" scoped>
.textPosition {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 23px;
  font-weight: bold;
}
</style>
