<template>
  <v-container class="pa-0">
    <v-card-text
      v-if="item.id !== 168 && item.isPaused"
      class="text-h6 white--text red darken-2"
    >
      已被暫停
    </v-card-text>

    <v-card-text
      v-if="item.id !== 168 && item.isCancelled"
      class="text-h6 white--text red darken-2"
    >
      已被取消
    </v-card-text>

    <v-card-text
      v-if="
        item.id !== 168 &&
          item.pastNg &&
          ['skin'].includes(item.ngType) &&
          item.autoMovedDate !== nowDate
      "
      class="text-h6 white--text red darken-2"
    >
      非今日NG(貼皮)
    </v-card-text>

    <v-card-text
      v-if="
        item.id !== 168 &&
          item.pastNg &&
          ['skin'].includes(item.ngType) &&
          item.autoMovedDate === nowDate
      "
      class="text-h6 white--text blue darken-2"
    >
      今日NG(貼皮)
    </v-card-text>

    <v-card-text
      v-if="
        item.id !== 168 &&
          item.pastNg &&
          ['print'].includes(item.ngType) &&
          item.autoMovedDate !== nowDate
      "
      class="text-h6 white--text red darken-2"
    >
      非今日NG(印刷)
    </v-card-text>

    <v-card-text
      v-if="
        item.id !== 168 &&
          item.pastNg &&
          ['print'].includes(item.ngType) &&
          item.autoMovedDate === nowDate
      "
      class="text-h6 white--text blue darken-2"
    >
      今日NG(印刷)
    </v-card-text>

    <v-card-text
      v-if="
        item.id !== 168 &&
          item.pastNg &&
          ['pack'].includes(item.ngType) &&
          item.autoMovedDate !== nowDate
      "
      class="text-h6 white--text red darken-2"
    >
      非今日NG(包裝)
    </v-card-text>

    <v-card-text
      v-if="
        item.id !== 168 &&
          item.pastNg &&
          ['pack'].includes(item.ngType) &&
          item.autoMovedDate === nowDate
      "
      class="text-h6 white--text blue darken-2"
    >
      今日NG(包裝)
    </v-card-text>

    <v-card-text
      v-if="item.id !== 168 && item.orderTag === '平台'"
      class="text-h6 white--text purple darken-2"
    >
      平台
    </v-card-text>
    <v-container class="py-1 px-0 ma-1">
      <div
        class="d-flex justify-center"
        style="width:auto;height:320px;position:relative"
      >
        <img
          v-if="item.casePath !== ''"
          :src="`${fileServer}${casePath}/${item.casePath}`"
          alt="casePath"
          style="max-width:320px;position:absolute;"
        />
        <img
          :src="`${fileServer}${previewPath}/${item.imagePath}`"
          alt="previewFilePath"
          :style="{
            maxWidth: item.id === 168 ? '220px' : '320px',
            position: 'absolute'
          }"
        />
      </div>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { fileServer, casePath, previewPath } from '@/config/index'
import moment from 'moment'

export default Vue.extend({
  name: 'itemCard',
  props: {
    item: {
      type: Object
    }
  },

  data: () => ({
    fileServer: fileServer,
    casePath: casePath,
    previewPath: previewPath,
    nowDate: moment()
      .utcOffset(8)
      .format('YYYY-MM-DD')
  })
})
</script>
