<template>
  <v-container class="py-1 px-0 ma-1">
    <v-card>
      <v-card-title
        class="orange lighten-1 black--text text-h5"
        style="font-weight: 400">
        雷標：{{ item.laserType }}
      </v-card-title>

      <v-card-text
        class="text-h5"
        v-if="item.stickers.length">
        <v-container
          v-for="(sticker, stickerIndex) of item.stickers"
          :key="stickerIndex">
          <v-img
            :src="`${fileServer}${sticker.stickerImagePath}`"
            class="white--text ma-auto"
            style="max-width: 200px;">
          </v-img>
          <v-img
            :src="`${fileServer}${sticker.positionImagePath}`"
            class="white--text ma-auto"
            style="max-width: 200px;">
          </v-img>
        </v-container>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { fileServer } from '@/config/index'

export default Vue.extend({
  name: 'laserSticker',
  props: {
    item: {
      type: Object
    }
  },

  data: () => ({
    fileServer: fileServer
  })
})
</script>
