<template>
  <v-card
    outlined
    class="pa-0 mx-0 my-2"
    color="teal darken-2"
    dense>
    <v-row
      dense
      justify="center"
      align="center"
      style="height: 430px;">
      <v-col :cols="3">
        <v-progress-circular
          :size="80"
          color="white"
          indeterminate></v-progress-circular>
        <span class="white--text text-h4 ml-2">載入中請稍候</span>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'loading',

  props: { }
})
</script>
