<template>
  <v-container class="py-1 px-0 ma-1">
    <v-card>
      <v-card-title
        class="blue lighten-1 black--text text-h5"
        style="font-weight: 400"
      >
        {{ packGroup.pack }}
      </v-card-title>

      <v-card-text
        v-if="packGroup.orderTag !== 'B2C'"
        class="text-h3 red darken-4 white--text ma-auto pb-2 pt-2 justify-center"
        style="font-weight: 700;"
      >
        {{ packGroup.orderTag }}
      </v-card-text>

      <v-card-text class="text-h5 mt-0 pt-0">

        <p
          v-if="packGroup.cardboard"
          class="ma-0">瓦愣底卡：{{ packGroup.cardboard }}
        </p>
        <p
          v-if="packGroup.shape"
          class="ma-0">吸塑：{{ packGroup.shape }}
        </p>
        <p
          v-if="packGroup.film"
          class="ma-0">膠膜：{{ packGroup.film }}</p>

        <v-card
          outlined
          v-for="(packImage, packImageIndex) of packGroup.packImages"
          :key="packImageIndex"
        >
          <v-img
            :src="`${fileServer}${packImage}`"
            class="white--text ma-auto"
            style="max-width: 200px;"
          >
          </v-img>
        </v-card>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { fileServer } from '@/config/index'

export default Vue.extend({
  name: 'packType',
  props: {
    packGroup: {
      type: Object
    }
  },

  data: () => ({
    fileServer: fileServer
  })
})
</script>
