<template>
  <v-container class="py-1 px-0 ma-1">
    <v-row dense>
      <v-card
        v-for="printItem of printItems"
        :key="printItem.id"
        :style="handleColor(printItem)"
        width="280"
        class="m-1"
      >
        <v-card-title
          class="px-2 py-1 d-flex flex-column"
          :class="[
            printItem.stickers.length
              ? 'orange lighten-1 black--text'
              : 'green darken-2 white--text'
          ]"
          style="font-size: 18px;"
        >
          <p
            class="ma-0 pa-0"
            v-text="`${printItem.device.name}(${printItem.device.code})`"
          ></p>
          <slot v-bind:printItem="printItem" name="printItem"> </slot>
        </v-card-title>

        <itemCard :item="printItem"></itemCard>

        <v-card-text
          v-if="printItem.note"
          class="mt-0 pt-0 pr-0"
          style="font-size:20px;"
        >
          <p class="ma-0 pa-0 red--text">{{ printItem.note }}</p>
        </v-card-text>

        <v-card-actions>
          <v-btn
            block
            color="primary"
            class="white--text py-6"
            style="font-size:20px"
            :disabled="!!printItem.packedAt || printItem.isNg"
            @click="printBtn(printItem)"
          >
            <v-icon class="mr-2">
              mdi-check-outline
            </v-icon>
            印標籤
          </v-btn>
        </v-card-actions>
        <v-card-actions v-if="isNgBtn">
          <v-btn
            block
            color="red"
            class="white--text py-6"
            style="font-size:20px"
            :disabled="!!printItem.packedAt || printItem.isNg"
            @click="ngBtn(printItem)"
          >
            <v-icon class="mr-2">
              mdi-refresh
            </v-icon>
            NG重印
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import ItemCard from '@/components/ItemCard.vue'
import { DesignSortPrintItem } from '@/types/solidsuit'

export default Vue.extend({
  name: 'packItems',

  components: {
    ItemCard
  },

  props: {
    printItems: {
      type: Array
    },
    isNgBtn: {
      type: Boolean
    }
  },

  data: () => ({
  }),

  computed: {
    handleColor () {
      return (printItem: DesignSortPrintItem) => {
        return {
          backgroundColor: '#dbe2ef',
          borderColor: printItem.color.colorHex,
          borderWidth: '5px'
        }
      }
    }
  },

  methods: {
    ngBtn (item: DesignSortPrintItem) {
      this.$emit('ngBtn', item)
    },
    printBtn (item: DesignSortPrintItem) {
      this.$emit('printBtn', item)
    }
  }
})
</script>
