<template>
  <v-container>
    <v-card outlined class="pa-0 mx-0 my-2" color="teal darken-2" dense>
      <plateRow
        :printItems="printItems.slice(0, 5)"
        :isNgBtn="isNgBtn"
        @ngBtn="ngBtn"
      ></plateRow>
    </v-card>
    <v-card v-if="printItems.slice(5).length > 0" outlined class="pa-0 mx-0 my-2" color="teal darken-2" dense>
      <plateRow
        :printItems="printItems.slice(5)"
        :isNgBtn="isNgBtn"
        @ngBtn="ngBtn"
      ></plateRow>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import PlateRow from '@/components/PlateRow.vue'
import { MatchCaseItem } from '@/types/matchCase'

export default Vue.extend({
  name: 'plasticPlate',
  components: { PlateRow },
  props: {
    isNgBtn: {
      type: Boolean
    },
    printItems: {
      type: Array
    }
  },

  methods: {
    ngBtn (item: MatchCaseItem) {
      this.$emit('ngBtn', item)
    }
  }
})
</script>
