<template>
  <v-row v-if="printItems.length > 0" dense class="px-0 ma-1 flex-nowrap">
    <v-card
      min-width="240"
      max-width="400"
      class="m-1"
      v-for="item of printItems"
      :key="item.id"
    >
      <v-card-title
        class="orange lighten-1 black--text text-h5"
        style="font-weight: 400"
      >
        <p
          v-if="item.id === 168"
          class="ma-0 pa-0"
          v-text="`脆盤(${item.wareNo})`"
        ></p>
        <template v-else>
          <p
            class="ma-0 pa-0"
            v-text="`${item.device.name}(${item.device.code})`"
          ></p>
          <p
            class="ma-0 pa-0"
            v-text="
              `${item.color.chineseName}殼(${item.color.code}) - ${item.designText}`
            "
          ></p>
        </template>
      </v-card-title>

      <itemCard :item="item"></itemCard>

      <v-card-actions v-if="item.id !== 168 && isNgBtn">
        <v-btn
          block
          color="error"
          class="white--text py-6"
          style="font-size:20px"
          @click="ngBtn(item)"
        >
          <v-icon class="mr-2">
            mdi-refresh
          </v-icon>
          重印
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import ItemCard from '@/components/ItemCard.vue'
import { MatchCaseItem } from '@/types/matchCase'

export default Vue.extend({
  name: 'lateRow',

  components: {
    ItemCard
  },

  props: {
    printItems: {
      type: Array
    },
    isNgBtn: {
      type: Boolean
    }
  },

  data: () => ({
  }),

  methods: {
    ngBtn (item: MatchCaseItem) {
      this.$emit('ngBtn', item)
    }
  }
})
</script>
