<template>
  <v-dialog
    v-model="show"
    persistent
    max-width="600px"
  >
    <v-card>
      <v-card-title>
        <span class="text-h5">{{ label }}</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                :value="value"
                @input="changeQuantity"
                :rules="quantityRules"
                label="數量*"
                required
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn
          outlined
          x-large
          @click="cancelBtn"
        >
          取消
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn
          outlined
          x-large
          @click="okBtn"
        >
          <v-icon
            color="green"
          >
            mdi-check-outline
          </v-icon>
          儲存
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'QuantityFormDialog',

  props: {
    show: {
      type: Boolean
    },
    value: {
      type: String
    },
    label: {
      type: String
    }
  },

  data: () => ({
    quantityRules: [
      (v: string) => /[1-9]/.test(v) || '數量必須為數字或是大於0'
    ]
  }),

  methods: {
    okBtn () {
      this.$emit('onOk')
    },

    cancelBtn () {
      this.$emit('onCancel')
    },

    changeQuantity (value: number) {
      this.$emit('input', value)
    }
  }
})
</script>
