<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <v-card
      v-if="isLoading"
      outlined
      class="pa-0 mx-0 my-2"
      color="teal darken-2"
      dense
    >
      <v-row dense justify="center" align="center" style="height: 430px;">
        <v-col :cols="3">
          <v-progress-circular
            :size="80"
            color="white"
            indeterminate
          ></v-progress-circular>
          <span class="white--text text-h4 ml-2">載入中請稍候</span>
        </v-col>
      </v-row>
    </v-card>
    <v-card
      v-if="!isLoading && Object.keys(shipmentItem).length === 0"
      outlined
      class="pa-0 mx-0 my-2"
      color="teal darken-2"
      dense
    >
      <v-row dense justify="center" align="center" style="height: 430px;">
        <v-col :cols="3">
          <span class="white--text text-h4 ml-2">
            <v-icon
              color="white"
              class="text-h3"
            >
              mdi-google-downasaur
            </v-icon>
            請掃二維條碼
          </span>
        </v-col>
      </v-row>
    </v-card>
    <template v-if="!isLoading && Object.keys(shipmentItem).length > 0">
      <v-card
        outlined
        class="pa-0 mx-0 my-2"
        color="teal darken-2"
        dense
      >
        <v-row dense class="justify-center py-1 px-0 ma-1">
          <v-col
            :cols="2"
          >
            <v-container
              class="py-1 px-0 ma-1"
            >
              <v-card>
                <v-card-title
                  class="blue lighten-1 black--text text-h5"
                  style="font-weight: 400"
                >
                  {{ shipmentItem.caseType.pack }}
                </v-card-title>

                <v-card-text
                  v-if="shipmentItem.orderTag !== 'B2C'"
                  class="text-h3 red darken-4 white--text ma-auto pb-2 pt-2 justify-center"
                  style="font-weight: 700;"
                >
                  {{ shipmentItem.orderTag }}
                </v-card-text>

                <v-card-text
                  class="text-h5 mt-0 pt-0"
                >
                  吸塑：{{ shipmentItem.device.shape }}
                  <br>
                  膠膜：{{ shipmentItem.device.film }}
                  <v-card
                    outlined
                    v-for="(packImage, packImageIndex) of shipmentItem.packImages"
                    :key="packImageIndex"
                  >
                    <v-img
                      :src="`${fileServer}${packImage}`"
                      class="white--text ma-auto"
                      style="max-width: 200px;"
                    >
                    </v-img>
                  </v-card>
                </v-card-text>
              </v-card>
            </v-container>
          </v-col>
          <v-col
            v-if="shipmentItem.stickers.length > 0"
            :cols="2"
          >
            <v-container
              class="py-1 px-0 ma-1"
            >
              <v-card>
                <v-card-title
                  class="orange lighten-1 black--text text-h5"
                  style="font-weight: 400"
                >
                  雷標：{{ shipmentItem.laserType }}
                </v-card-title>

                <v-card-text
                  class="text-h5"
                  v-if="shipmentItem.stickers.length"
                >
                  <v-container
                    v-for="(sticker, stickerIndex) of shipmentItem.stickers"
                    :key="stickerIndex"
                  >
                    <v-img
                      :src="`${fileServer}${sticker.stickerImagePath}`"
                      class="white--text ma-auto"
                      style="max-width: 200px;"
                    >
                    </v-img>
                    <v-img
                      :src="`${fileServer}${sticker.positionImagePath}`"
                      class="white--text ma-auto"
                      style="max-width: 200px;"
                    >
                    </v-img>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-container>
          </v-col>
          <v-col
            :cols="4"
          >
            <v-container
              class="py-1 px-0 ma-1"
            >
              <v-row
                dense
              >
                <v-card
                  :style="handleColor(shipmentItem)"
                  width="400"
                  class="m-1"
                >
                  <v-card-title
                    class="px-2 py-1 d-flex flex-column"
                    :class="[shipmentItem.stickers.length? 'orange lighten-1 black--text' : 'green darken-2 white--text']"
                    style="font-size: 20px;"
                  >
                    <p class="ma-0 pa-0" v-text="`${shipmentItem.device.name}(${shipmentItem.device.code})`"></p>
                    <p class="ma-0 pa-0" v-text="`${shipmentItem.color.chineseName}殼(${shipmentItem.color.code}) - ${shipmentItem.designText}`"></p>
                  </v-card-title>

                  <v-card-text
                    v-if="shipmentItem.isPaused"
                    class="text-h6 white--text red darken-2"
                  >
                    已被暫停
                  </v-card-text>
                  <v-card-text
                    v-if="shipmentItem.isCancelled"
                    class="text-h6 white--text red darken-2"
                  >
                    已被取消
                  </v-card-text>
                  <v-card-text
                    v-if="shipmentItem.hasNg && ['skin'].includes(shipmentItem.ngType) && shipmentItem.autoMovedDate !== nowDate"
                    class="text-h6 white--text red darken-2"
                  >
                    非今日NG(貼皮)
                  </v-card-text>

                  <v-card-text
                    v-if="shipmentItem.hasNg && ['skin'].includes(shipmentItem.ngType) && shipmentItem.autoMovedDate === nowDate"
                    class="text-h6 white--text blue darken-2"
                  >
                    今日NG(貼皮)
                  </v-card-text>
                  <v-card-text
                    v-if="shipmentItem.hasNg && ['print'].includes(shipmentItem.ngType) && shipmentItem.autoMovedDate !== nowDate"
                    class="text-h6 white--text red darken-2"
                  >
                    非今日NG(印刷)
                  </v-card-text>
                  <v-card-text
                    v-if="shipmentItem.hasNg && ['print'].includes(shipmentItem.ngType) && shipmentItem.autoMovedDate === nowDate"
                    class="text-h6 white--text blue darken-2"
                  >
                    今日NG(印刷)
                  </v-card-text>
                  <v-card-text
                    v-if="shipmentItem.hasNg && ['pack'].includes(shipmentItem.ngType) && shipmentItem.autoMovedDate !== nowDate"
                    class="text-h6 white--text red darken-2"
                  >
                    非今日NG(包裝)
                  </v-card-text>
                  <v-card-text
                    v-if="shipmentItem.hasNg && ['pack'].includes(shipmentItem.ngType) && shipmentItem.autoMovedDate === nowDate"
                    class="text-h6 white--text blue darken-2"
                  >
                    今日NG(包裝)
                  </v-card-text>
                  <v-card-text
                    v-if="shipmentItem.orderTag === '平台'"
                    class="text-h6 white--text purple darken-2"
                  >
                    平台
                  </v-card-text>
                  <v-container class="py-1 px-0 ma-1">
                    <div class="d-flex justify-center" style="width:auto;height:360px;position:relative">
                      <img
                        v-if="shipmentItem.casePath !== ''"
                        :src="`${fileServer}${casePath}/${shipmentItem.casePath}`"
                        alt="casePath"
                        style="max-width:360px;position:absolute;"
                      >
                      <img
                        :src="`${fileServer}${previewPath}/${shipmentItem.imagePath}`"
                        alt="previewFilePath"
                        style="max-width:360px;position:absolute;"
                      >
                    </div>
                  </v-container>
                  <v-card-text
                    v-if="shipmentItem.note !== ''"
                    class="mt-0 pt-0 pr-0"
                    style="font-size:20px;"
                  >
                    <p class="ma-0 pa-0 red--text">{{ shipmentItem.note }}</p >
                  </v-card-text>
                  <v-card-actions v-if="shipmentItem.sourceType === 'hs_interruption'">
                    <v-btn
                      block
                      color="primary"
                      class="white--text py-6"
                      style="font-size:20px"
                      :loading="onProcess"
                      :disabled="onProcess"
                      @click="printLabel(shipmentItem)"
                    >
                      <v-icon class="mr-2">
                        mdi-check-outline
                      </v-icon>
                      印標籤
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
      </v-card>
    </template>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import fs from 'fs'
import path from 'path'
import { ipcRenderer } from 'electron'
import moment from 'moment'
import AlertDialog from '@/components/alertDialog.vue'
import { getSortItems } from '@/apis/sort'
import { fileServer, previewPath, casePath } from '@/config/index'
import { SortItem } from '@/types/sort'
import { printLabel } from '@/apis/solidsuit'

export default Vue.extend({
  name: 'ScanItem',

  components: {
    AlertDialog
  },

  data: () => ({
    isLoading: false,
    onProcess: false,
    labelDir: 'C:/customized-package/label',
    fileServer: fileServer,
    previewPath: previewPath,
    casePath: casePath,
    shipmentItem: {} as SortItem,
    barcodeValue: '',
    nowDate: moment().utcOffset(8).format('YYYY-MM-DD'),
    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    }
  }),

  computed: {
    handleColor () {
      return (shipmentItem: SortItem) => {
        return {
          backgroundColor: '#dbe2ef',
          borderColor: shipmentItem.color.colorHex,
          borderWidth: '5px'
        }
      }
    }
  },

  mounted () {
    this.listenKeyDownEvent()
  },

  methods: {
    listenKeyDownEvent () {
      this.barcodeValue = ''
      window.addEventListener('keydown', async (e: KeyboardEvent) => {
        if (e.key === 'Enter') {
          await this.searchItem()
          this.barcodeValue = ''
        } else {
          if (e.key !== 'Shift') {
            this.barcodeValue += e.key
          }
        }
      })
    },
    async searchItem () {
      try {
        this.isLoading = true
        const form = {
          barcode: this.barcodeValue
        }
        this.shipmentItem = (await getSortItems(form)).data
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.isLoading = false
      }
    },
    async printLabel (shipmentItem: SortItem) {
      try {
        this.onProcess = true
        const filePath = path.join(this.labelDir, String(shipmentItem.id))
        const res = await printLabel(shipmentItem.id, '')
        fs.writeFileSync(filePath, Buffer.from(res.data))
        ipcRenderer.send('print-pdf', filePath)
      } catch (error) {
        this.alertDialog.message = `下載面單檔案失敗:${shipmentItem.id}`
        this.alertDialog.show = true
      } finally {
        this.onProcess = false
      }
    }
  }
})
</script>

<style>
  .v-image__image {
    background-color: #dbe2ef !important;
  }
</style>
