<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <QuantityFormDialog
      :show="quantityFormDialog.show"
      :label="quantityFormDialog.label"
      v-model="cancelQuantity"
      @onCancel="quantityFormDialog.onCancel()"
      @onOk="quantityFormDialog.onOk()"
    >
    </QuantityFormDialog>
    <v-row class="justify-center">
      <v-col :cols="6">
        <v-text-field
          v-model="barcodeValue"
          solo
          outlined
          light
          color="grey darken-1"
          hide-details="auto"
          prepend-inner-icon="mdi-magnify"
          placeholder="請掃條碼或輸入SKU"
          @input="writeSku($event)"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-card
      v-if="isLoading"
      outlined
      class="pa-0 mx-0 my-2"
      color="teal darken-2"
      dense
    >
      <v-row dense justify="center" align="center" style="height: 430px;">
        <v-col :cols="3">
          <v-progress-circular
            :size="80"
            color="white"
            indeterminate
          ></v-progress-circular>
          <span class="white--text text-h4 ml-2">載入中請稍候</span>
        </v-col>
      </v-row>
    </v-card>
    <v-card
      v-if="!isLoading && stockItems.length === 0"
      outlined
      class="pa-0 mx-0 my-2"
      color="teal darken-2"
      dense
    >
      <v-row dense justify="center" align="center" style="height: 430px;">
        <v-col :cols="3">
          <span class="white--text text-h4 ml-2">
            <v-icon
              color="white"
              class="text-h3"
            >
              mdi-google-downasaur
            </v-icon>
            目前無資料顯示
          </span>
        </v-col>
      </v-row>
    </v-card>
    <template v-if="!isLoading && stockItems.length > 0">
      <v-card
        outlined
        class="pa-0 mx-0 my-2"
        color="teal darken-2"
        dense
      >
        <v-row dense class="justify-center py-1 px-0 ma-1">
          <v-col
            :cols="3"
          >
            <v-card>
              <v-card-title
                class="blue lighten-1 black--text text-h5"
                style="font-weight: 400"
              >
                {{ stockItems[0].caseType.pack }}
              </v-card-title>

              <v-card-text
                class="text-h5 mt-0 pt-0"
              >
                吸塑：{{ stockItems[0].device.shape }}
                <br>
                膠膜：{{ stockItems[0].device.film }}
                <v-card
                  outlined
                  v-for="(packImage, packImageIndex) of stockItems[0].packImages"
                  :key="packImageIndex"
                >
                  <v-img
                    :src="`${fileServer}${packImage}`"
                    class="white--text ma-auto"
                    style="max-width: 200px;"
                  >
                  </v-img>
                </v-card>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col
            v-if="stockItems[0].stickers.length > 0"
            :cols="3"
          >
            <v-card>
                <v-card-title
                  class="orange lighten-1 black--text text-h5"
                  style="font-weight: 400"
                >
                  雷標/貼紙：{{ stockItems[0].laserType }}
                </v-card-title>

                <v-card-text
                  class="text-h5"
                >
                  <v-container
                    v-for="(sticker, stickerIndex) of stockItems[0].stickers"
                    :key="stickerIndex"
                  >
                    <span
                      v-if="sticker.positionName"
                    >
                      {{ sticker.positionName }}
                    </span>

                    <v-img
                      :src="`${fileServer}${sticker.stickerImagePath}`"
                      class="white--text ma-auto"
                      max-width="150"
                    >
                    </v-img>
                    <v-img
                      :src="`${fileServer}${sticker.positionImagePath}`"
                      class="white--text ma-auto"
                      max-width="150"
                    >
                    </v-img>
                  </v-container>
                </v-card-text>
            </v-card>
          </v-col>
          <v-col
            :cols="4"
          >
            <v-card>
              <v-card-title
                class="white--text px-2 py-1 green darken-2 d-flex justify-between"
                style="font-size: 18px;"
              >
                <span class="text-h5">{{ `${stockItems[0].stockSku}` }}</span><br>
              </v-card-title>
              <div class="d-flex justify-center" style="width:100%;height:400px;position:relative;">
                <img
                  v-if="stockItems[0].casePath !== ''"
                  :src="`${fileServer}${casePath}/${stockItems[0].casePath}`"
                  alt="casePath"
                  style="max-width:400px;position:absolute;"
                >
                <img
                  :src="`${fileServer}${previewPath}/${stockItems[0].imagePath}`"
                  alt="previewFilePath"
                  style="max-width:400px;position:absolute;"
                >
              </div>
              <v-card-text
                class="mt-2 pt-0"
                style="font-size:20px;"
              >
                非燙印數量：{{ notHotstampTotal }}，燙印數量：{{ hotstampTotal }}
              </v-card-text>
              <v-card-actions>
                <v-btn
                  block
                  color="primary"
                  class="white--text py-6"
                  style="font-size:20px"
                  @click="printSticker()"
                  :loading="downloadOnProcess"
                  :disabled="downloadOnProcess"
                >
                  <v-icon class="mr-2">
                    mdi-check-outline
                  </v-icon>
                  印標籤
                </v-btn>
              </v-card-actions>
              <v-card-actions>
                <v-btn
                  block
                  color="error"
                  class="white--text py-6"
                  style="font-size:20px"
                  @click="cancelFetchStock()"
                  :loading="cancelOnProcess"
                  :disabled="cancelOnProcess"
                >
                  <v-icon class="mr-2">
                    mdi-cancel
                  </v-icon>
                  取消庫存拿取
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </template>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import moment from 'moment'
import fs from 'fs'
import path from 'path'
import { debounce } from 'lodash'
import { ipcRenderer } from 'electron'
import AlertDialog from '@/components/alertDialog.vue'
import QuantityFormDialog from '@/components/QuantityFormDialog.vue'
import { getStockItems, cancelStockItems, generateStockStickers, markStockItemsPacked } from '@/apis/stock'
import { StockItem } from '@/types/stock'
import { fileServer, previewPath, casePath } from '@/config/index'

export default Vue.extend({
  name: 'ScanStock',

  props: {
    currentSku: {
      type: String,
      default: ''
    }
  },

  components: {
    AlertDialog,
    QuantityFormDialog
  },

  data: () => ({
    isLoading: false,
    cancelOnProcess: false,
    downloadOnProcess: false,
    labelDir: 'C:/customized-package/label',
    fileServer: fileServer,
    previewPath: previewPath,
    casePath: casePath,
    date: '',
    barcodeValue: '',
    stockItems: [] as Array <StockItem>,
    notHotstampTotal: 0,
    hotstampTotal: 0,
    cancelQuantity: '1',
    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    },
    quantityFormDialog: {
      label: '取消庫存拿取',
      show: false,
      onCancel () {
        this.show = false
      },
      onOk () {
        this.onCancel()
      }
    }
  }),

  computed: {
    processImageStyle () {
      return (imagePath: string) => {
        return {
          height: '475px'
        }
      }
    }
  },

  async mounted () {
    this.date = moment.utc().format('YYYY-MM-DD')
    if (this.currentSku !== '') {
      await this.searchSku(this.currentSku)
    }
  },

  methods: {
    resetPage () {
      this.stockItems = []
      this.notHotstampTotal = 0
      this.hotstampTotal = 0
      this.barcodeValue = ''
      this.cancelQuantity = '1'
    },
    writeSku: debounce(async function (this: any, event: string) {
      await this.searchSku(event)
    }, 500),
    async searchSku (event: string) {
      try {
        this.isLoading = true
        this.resetPage()
        if (event === '') return
        this.barcodeValue = event.trim()
        const date = this.date
        const sku = this.barcodeValue
        const response = await getStockItems(date, sku)
        this.hotstampTotal = response.data.hotstampTotal
        this.notHotstampTotal = response.data.notHotstampTotal
        this.stockItems = response.data.items
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.isLoading = false
      }
    },
    cancelFetchStock () {
      this.quantityFormDialog.show = true
      this.quantityFormDialog.onOk = async () => {
        try {
          const total = this.hotstampTotal + this.notHotstampTotal
          if (parseInt(this.cancelQuantity) > total) {
            this.alertDialog.message = '錯誤，取消數量不可大於品項的拿取總數'
            this.alertDialog.show = true
            return
          }
          this.cancelOnProcess = true
          this.quantityFormDialog.onCancel()
          const date = this.date
          const form = {
            sku: this.barcodeValue,
            quantity: this.cancelQuantity
          }
          await cancelStockItems(date, form)
          await this.searchSku(this.barcodeValue)
        } catch (error) {
          this.alertDialog.message = error.response.data.message || ''
          this.alertDialog.show = true
        } finally {
          this.cancelOnProcess = false
        }
      }
    },
    async printSticker () {
      try {
        this.downloadOnProcess = true
        const itemIds = this.stockItems.map(item => item.id)
        const form = {
          shipmentItemIds: itemIds
        }
        await markStockItemsPacked(form)
        const res = await generateStockStickers(form)
        const filename = moment().valueOf()
        const filePath = path.join(this.labelDir, String(filename))
        fs.writeFileSync(filePath, Buffer.from(res))
        ipcRenderer.send('print-pdf', filePath)
        this.resetPage()
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.downloadOnProcess = false
      }
    }
  }
})
</script>

<style>
  .v-text-field input {
    font-size: 30px;
  }
  .v-image__image {
    background-color: #dbe2ef !important;
  }
</style>
