<template>
  <v-card
    outlined
    class="pa-0 mx-0 my-2"
    color="teal darken-2"
    dense
  >
    <v-row dense justify="center" align="center" style="height: 430px;">
      <v-col :cols="3">
        <span class="white--text text-h4 ml-2">
          <v-icon color="white" class="text-h3">
            mdi-google-downasaur
          </v-icon>
          {{ text }}
        </span>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'scanForm',
  components: { },
  props: {
    text: {
      type: String
    }
  },

  data: () => ({}),

  methods: { }
}
</script>
