<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <v-row class="align-center">
      <v-col :cols="4">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="模糊搜尋"
          single-line
          hide-details
          dense
          outlined
          background-color="white"
          color="grey darken-1"
        ></v-text-field>
      </v-col>
      <v-col :cols="8" class="d-flex justify-end">
        <v-btn
          large
          color="light-green"
          :loading="isLoading"
          :disabled="isLoading"
          @click="fetchData"
          class="mr-3"
        >
          <v-icon>
            mdi-refresh
          </v-icon>
          更新
        </v-btn>
        <v-btn
          large
          color="light-green"
          :loading="downloadOnProcess"
          :disabled="downloadOnProcess"
          @click="downloadPickingList"
        >
          <v-icon>
            mdi-download
          </v-icon>
          下載
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col :cols="12">
        <v-data-table
          :headers="tableHeaders"
          :items="tableItems"
          :search="search"
          class="elevation-1"
          height="600px"
          :items-per-page="-1"
          fixed-header
          :loading="isLoading"
          loading-text="載入中請稍候"
          no-data-text="無資料顯示"
          hide-default-footer
        >
          <template v-slot:item.imagePath="{ item }">
            <div class="d-flex justify-center" style="width:auto;height:170px;position:relative">
              <img
                v-if="item.casePath !== ''"
                :src="`${fileServer}${casePath}${item.casePath}`"
                alt="casePath"
                style="max-width:150px;position:absolute;"
              >
              <img
                :src="`${fileServer}${previewPath}${item.imagePath}`"
                alt="previewFilePath"
                style="max-width:150px;position:absolute"
              >
            </div>
          </template>
          <template v-slot:item.orderType="{ item }">
            <v-chip
              v-if="item.orderType !== '' && item.orderType !== undefined"
              color="orange"
              class="black--text"
            >
              {{ item.orderType }}
            </v-chip>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn
              color="primary"
              @click="copySku(item)"
            >
              <v-icon
                small
                class="mr-2"
              >
                mdi-content-copy
              </v-icon>
              複製
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import moment from 'moment'
import AlertDialog from '@/components/alertDialog.vue'
import { Stock } from '@/types/stock'
import { getStockPickingList, generateStockPickingList } from '@/apis/stock'
import { fileServer, previewPath, casePath } from '@/config/index'

export default Vue.extend({
  name: 'StockList',

  components: {
    AlertDialog
  },

  data: () => ({
    isLoading: false,
    downloadOnProcess: false,
    fileServer: fileServer,
    previewPath: previewPath,
    casePath: casePath,
    date: '',
    search: '',
    pickingList: [] as Array<Stock>,
    tableHeaders: [
      { text: '訂單類型', value: 'orderType', sortable: false, align: 'center', width: '200px', fixed: true },
      { text: '圖片', value: 'imagePath', sortable: false, align: 'center', width: '200px', fixed: true },
      { text: 'sku', value: 'sku', sortable: false, align: 'center', width: '200px', fixed: true },
      { text: '數量', value: 'quantity', sortable: false, align: 'center', width: '200px', fixed: true },
      { text: '動作', value: 'actions', sortable: false, align: 'center', width: '100px' }
    ],
    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    }
  }),

  computed: {
    tableItems () {
      let result = [] as Array<Stock>
      if (this.pickingList.length > 0) {
        result = this.pickingList.map((item: Stock) => {
          return {
            orderType: item.orderTag,
            casePath: item.casePath,
            imagePath: item.imagePath,
            sku: item.sku,
            quantity: item.quantity
          }
        })
      }
      return result
    }
  },

  async mounted () {
    this.date = moment.utc().format('YYYY-MM-DD')
    await this.fetchData()
  },

  methods: {
    async fetchData () {
      try {
        this.isLoading = true
        const date = this.date
        this.pickingList = (await getStockPickingList(date)).data
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.isLoading = false
      }
    },
    async downloadPickingList () {
      try {
        this.downloadOnProcess = true
        const date = this.date
        const res = await generateStockPickingList(date)
        const objURL = URL.createObjectURL(res)
        const link = document.createElement('a')
        link.setAttribute('href', objURL)
        link.setAttribute('download', `(${date})庫存品撿料單.pdf`)
        document.body.appendChild(link)
        link.click()
      } catch (error: any) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.downloadOnProcess = false
      }
    },
    copySku (item: Stock) {
      this.$emit('copySku', item.sku)
    }
  }
})
</script>

<style>

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
   font-size: 20px !important;
}

</style>
