<template>
  <v-container>
    <AlertDialog
      :show="alertDialog.show"
      :message="alertDialog.message"
      @onOk="alertDialog.onOk()"
    >
    </AlertDialog>
    <v-row>
      <v-col :cols="7">
        <v-row class="justify-between">
          <v-col :cols="6">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="模糊搜尋"
              single-line
              hide-details
              dense
              outlined
              background-color="white"
              color="grey darken-1"
            ></v-text-field>
          </v-col>
          <v-col :cols="6" class="d-flex justify-end align-center">
            <v-btn
              :disabled="downloadOnProcess"
              :loading="downloadOnProcess"
              large
              color="primary"
              @click="downloadStockExcel"
              class="text-h5 py-5 m-0 mr-2"
            >
              下載
            </v-btn>
            <span class="text-h4 mt-2">總數:{{ tableItemTotal }}</span>
          </v-col>
        </v-row>
        <v-row>
          <v-col :cols="12">
            <v-data-table
              :search="search"
              :headers="tableHeaders"
              :items="tableItems"
              class="elevation-1"
              height="600px"
              :items-per-page="-1"
              fixed-header
              :loading="isLoading"
              loading-text="載入中請稍候"
              no-data-text="無資料顯示"
              hide-default-footer
              @current-items="viewCurrentItems"
            >
              <template v-slot:item.actions="{ item }">
                <v-btn
                  color="red"
                  class="white--text"
                  @click="deleteStockItem(item)"
                >
                  刪除
                </v-btn>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-col>
      <v-col :cols="5">
        <v-card class="d-flex flex-column align-center" height="380">
          <v-card-title class="text-h4">單筆更新</v-card-title>
          <v-form
            ref="form"
            style="width: 450px;"
          >
            <v-select
              v-model="form.type"
              :items="typeList"
              label="請選擇"
              item-text="label"
              item-value="value"
              outlined
              hide-details="auto"
              :disabled="submitOnProcess"
            ></v-select>
            <v-text-field
              v-model="form.sku"
              label="Sku"
              required
              outlined
              class="mt-5"
              :disabled="submitOnProcess"
            ></v-text-field>
            <v-text-field
              type="number"
              v-model.number="form.quantity"
              min="0"
              label="數量"
              required
              outlined
              :disabled="submitOnProcess"
            ></v-text-field>
            <v-btn
              :disabled="submitOnProcess"
              :loading="submitOnProcess"
              color="primary"
              block
              @click="submit"
              class="text-h5 py-5"
            >
              送出
            </v-btn>
          </v-form>
        </v-card>
        <v-card class="d-flex flex-column align-center" height="285">
          <v-card-title class="text-h4">檔案批次更新</v-card-title>
          <v-form
            ref="fileForm"
            style="width: 450px;"
          >
            <v-select
              v-model="fileType"
              :items="typeList"
              label="請選擇"
              item-text="label"
              item-value="value"
              outlined
              hide-details="auto"
              :disabled="fileOnProcess"
            ></v-select>
            <v-file-input
              show-size
              label="入庫檔案"
              outlined
              @change="uploadFile"
              :disabled="fileOnProcess"
              class="mt-3"
            ></v-file-input>
            <v-btn
              :disabled="fileOnProcess"
              :loading="fileOnProcess"
              color="primary"
              block
              @click="submitFile"
              class="text-h5 py-5"
            >
              送出
            </v-btn>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import moment from 'moment'

import AlertDialog from '@/components/alertDialog.vue'

import { getStockList, updateStock, uploadStocks, downloadList, deleteStock } from '@/apis/stock'
import { Stock } from '@/types/stock'

export default Vue.extend({
  name: 'StockForm',

  components: {
    AlertDialog
  },

  data: () => ({
    isLoading: false,
    submitOnProcess: false,
    fileOnProcess: false,
    downloadOnProcess: false,
    form: {
      type: '',
      sku: '',
      quantity: 0
    },
    fileForm: new FormData(),
    fileType: '',
    stockData: [] as Array<Stock>,
    search: '',
    tableHeaders: [
      { text: 'type', value: 'typeText', sortable: false, align: 'center', width: '200px', fixed: true },
      { text: 'sku', value: 'sku', sortable: false, align: 'center', width: '200px', fixed: true },
      { text: '數量', value: 'quantity', sortable: false, align: 'center', width: '200px', fixed: true },
      { text: '動作', value: 'actions', sortable: false, align: 'center', fixed: true }
    ],
    tableItemTotal: 0,
    typeList: [
      { label: '庫存品', value: 'stock' },
      { label: '預備品', value: 'prepare' }
    ],
    alertDialog: {
      show: false,
      message: '',
      onOk () {
        this.show = false
        this.message = ''
      }
    }
  }),

  computed: {
    tableItems () {
      let result = [] as Array<Stock>
      if (this.stockData.length > 0) {
        result = this.stockData.map((item: Stock) => {
          return {
            type: item.type,
            typeText: item.typeText,
            sku: item.sku,
            quantity: item.quantity
          }
        })
      }
      return result
    }
  },

  async mounted () {
    await this.fetchData()
  },

  methods: {
    async fetchData () {
      try {
        this.isLoading = true
        this.stockData = (await getStockList()).data
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.isLoading = false
      }
    },
    async submit () {
      try {
        this.submitOnProcess = true
        if (this.form.type === '' || this.form.sku === '' || this.form.quantity <= 0) {
          this.alertDialog.message = '錯誤，表單每個欄位都是必填'
          this.alertDialog.show = true
          return
        }
        await updateStock(this.form)
        this.resetForm()
        await this.fetchData()
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.submitOnProcess = false
      }
    },
    uploadFile (file: File) {
      this.fileForm.append('file', file)
    },
    async submitFile () {
      try {
        this.fileOnProcess = true
        this.fileForm.append('type', this.fileType)
        if (this.fileForm.get('type') === null || this.fileForm.get('file') === null) {
          this.alertDialog.message = '錯誤，表單每個欄位都是必填'
          this.alertDialog.show = true
          return
        }
        await uploadStocks(this.fileForm)
        this.resetFileForm()
        await this.fetchData()
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.fileOnProcess = false
      }
    },
    resetForm () {
      this.form = {
        type: '',
        sku: '',
        quantity: 0
      }
      // eslint-disable-next-line @typescript-eslint/no-this-alias
      const vm: any = this
      vm.$refs.form.reset()
    },
    resetFileForm () {
      this.fileForm.delete('type')
      this.fileForm.delete('file')
      // eslint-disable-next-line @typescript-eslint/no-this-alias
      const vm: any = this
      vm.$refs.fileForm.reset()
    },
    viewCurrentItems (data: Array<Stock>) {
      this.tableItemTotal = data.length
    },
    async downloadStockExcel () {
      try {
        this.downloadOnProcess = true
        const date = moment.utc().format('YYYY-MM-DD')
        const res = await downloadList()
        const objURL = URL.createObjectURL(res)
        const link = document.createElement('a')
        link.setAttribute('href', objURL)
        link.setAttribute('download', `${date}庫存清單.xlsx`)
        document.body.appendChild(link)
        link.click()
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      } finally {
        this.downloadOnProcess = false
      }
    },
    async deleteStockItem (item: Stock) {
      try {
        const form = {
          type: item.type || 'stock',
          sku: item.sku
        }
        await deleteStock(form)
        await this.fetchData()
      } catch (error) {
        this.alertDialog.message = error.response.data.message || ''
        this.alertDialog.show = true
      }
    }
  }
})
</script>
