<template>
  <v-app>
    <v-main
      class="ma-0 pa-0 teal lighten-2"
    >
      <router-view style="max-width: 100%;"/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'App',

  data: () => ({
  })
})

</script>
